<!DOCTYPE html>
<html>
  <head>
    <title>Welcome page</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
     <h1>Iaqse server is up and running!</h1>
  </body>
</html>