<!DOCTYPE html>
<html lang="ca">

    <head>
        <% include head %>
    </head>

    <body> 
        <header>
            <% include header %>
        </header>

        <div id="main-wrap" class="container-fluid">
                <main ng-app="iaqse">
                </main>    
                
            <%include footer %>
        </div> 

</body>

</html>