<!DOCTYPE html>
<html lang="ca">

    <head>
        <% include head %>
    </head>

    <body style="background: white;"> 
        <header>
            <% include header %>
        </header>

        <div id="main-wrap" class="container-fluid">
                <main ng-app="iaqse">
                </main>    
                
            <%include footer %>
        </div> 
        <div style="font-size: small; background: whitesmoke; color: gray; position: fixed; bottom:0; padding: 5px; left:0; width:100%; height: 25px; text-align: right;">
            Webmaster: <%=webmaster%> - Version: <%=version%>
        </div>
</body>

</html>