<!--comboNivell-->
<div class="btn-group" title="Nivell de la prova" style="margin-left: 5px;">
        <span class="filtrau">Filtrau per </span>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="nivellCombo" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-tags"></i> <span ng-bind="selectedNivell.label"></span></button>
        <div class="dropdown-menu" aria-labelledby="nivellCombo">
            <a class="dropdown-item" ng-click="chooseNivell($index)" ng-repeat="item in nivells"><span ng-bind="item.label"></span></a>
        </div>
</div>
<hr />
<p ng-if="avaluacions.length==0">No s'han trobat avaluacions</p>
<p ng-if="avaluacions.length==1">S'ha trobat una avaluació</p>
<p ng-if="avaluacions.length>1">S'han trobat <span ng-bind="avaluacions.length"></span> avaluacions</p>
<hr />

<!--accordion avaluacions-->
<div id="accordion"> 
        <!--Desplegable amb els seus documents-->
        <div class="card" ng-repeat="ava in avaluacions">
            <div class="card-header" id="heading{{$index}}">
                <button class="btn-link collapsed" data-toggle="collapse" data-target="#{{ava.id}}"
                    style="text-decoration: none; border: none; cursor: pointer;">
                    <i class="fa"></i> <b style="font-size: 90%;"><span ng-bind="ava.title"></span></b>
                </button>
            </div>

            <div id="{{ava.id}}" class="collapse" data-parent="#accordion"
                aria-labelledby="heading{{$index}}">
                <!--list documents--> 
                <div class="row" ng-repeat="chk in ava.chunks">
                    <div class="col-md-6 list-group-item list-group-item-hover" ng-repeat="doc in chk">
                        <a href="{{doc.url}}" target="_blank">
                            <img ng-src="{{doc.img}}" width="60px" class="fa-pull-left"
                                style="margin-right:10px; box-shadow: 3px 3px gray;" />
                            <p style="vertical-align: middle;font-size: 90%;" ng-bind="doc.title"></p>
                        </a>
                    </div>                   
                </div> 
            </div>
        </div>
 
</div>

<script>
    var chunker = function(arr, chunkSize) {
            var R = [];
            for (var i=0,len=arr.length; i<len; i+=chunkSize)
                R.push(arr.slice(i,i+chunkSize));
            return R;
    };

    
    app.controller("diagnosticController", ["$scope", "httpService", function ($scope, httpService) {
        
        $scope.avaluacions = [];
        $scope.nivells = [
            { label: "Tots els nivells", value: "" },
            { label: "3r EP", value: "3r EP" },
            { label: "4t EP", value: "4t EP" },
            { label: "6è EP", value: "6e EP" },
            { label: "2n ESO", value: "2n ESO" },
            { label: "4t ESO", value: "4t ESO" }
        ];

        $scope.selectedNivell = $scope.nivells[0];

        $scope.chooseNivell = function(index){
            $scope.selectedNivell = $scope.nivells[index];
            $scope.search();
        };

        $scope.search = function () {
            var list = [];
                    
                for (var i = 0, len = avaJSON.length; i < len; i++) {
                    var item = avaJSON[i];
                    if (!$scope.selectedNivell.value || item.title.indexOf($scope.selectedNivell.value) >= 0) {
                        item.chunks = chunker(item.documents, 2);
                        list.push(item);
                    }
                }
                 
            $scope.avaluacions = list;
        };

        httpService.loadSchema("avaluacions_diagnostic").then(function(response){
            window.avaJSON = response.data;
            for (var i = 0, len = avaJSON.length; i < len; i++) {
                var item = avaJSON[i];
                if(!item.id) {
                    item.id = "ad"+i;
                }
            }
            $scope.search();
            var id = getURLParameter("id"); 
            if(id) {
                // Search and display this item
                $(function(){
                    var $elem = $("#"+id);
                    $elem.addClass("show"); 
                    $('html, body').animate({ scrollTop: $elem.offset().top-120}, 1000);
                });
            }
        });    
    }]);
</script>