<center>    
<div class="container-fluid">
       <br><br>
        <div class="row">
                <% page.views.forEach( (view, index)=>{  if(index>0) {%>      
        
            <div class="col-sm-6 col-lg-3">
                    <a href="#!<%=view.url%>">
            <div class="card card-menu">
                    <% if(view.img) { %>
                        <img class="card-img-top" src="../<%=view.img%>" style="height:100px; width:110px;"/>
                        <% } %> 
                <div class="card-body">
                    <h5 class="card-title"><b><%=view.title%></b></h5>                    
                </div>
            </div>
        </a>
            </div>
       
        <%} }) %>
    </div> 
</div>
</center>
