<h4>Proves interactives</h4> 
<!--triam quina prova volem fer de les disponibles-->
<div class="clearfix">
                 <span class="filtrau">Filtrau per </span>
                <!--combo nivells-->
                <div class="btn-group float-left" title="Nivell de la prova" style="margin-left: 5px; margin-bottom: 5px;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="nivellCombo" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-tags"></i> <span ng-bind="selected.nivell"></span></button>
                    <div class="dropdown-menu" aria-labelledby="nivellCombo">
                        <a class="dropdown-item" ng-click="set('nivell', item)" ng-repeat="item in nivells"><span ng-bind="item"></span></a>
                    </div>
                </div>
                 <!--combo competència-->
                 <div class="btn-group float-left" title="Competència de la prova" style="margin-left: 5px; margin-bottom: 5px;">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="competenciaCombo" 
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-tags"></i> <span ng-bind="selected.competencia"></span></button>
                                <div class="dropdown-menu" aria-labelledby="competenciaCombo">
                                    <a class="dropdown-item" ng-click="set('competencia', item)" ng-repeat="item in competencies"><span ng-bind="item"></span></a>
                                </div>
                </div>
                 <!--combo anys -->
                 <div class="btn-group float-left" title="Nivell de la prova" style="margin-left: 5px; margin-bottom: 5px;">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="nivellAnys" 
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-tags"></i> <span ng-bind="selected.any"></span></button>
                                <div class="dropdown-menu" aria-labelledby="nivellAnys">
                                    <a class="dropdown-item" ng-click="set('any', item)" ng-repeat="item in anys"><span ng-bind="item"></span></a>
                                </div>
                </div>

                   <!--altres-->
                <div class="btn-group float-left" title="Any de la prova" style="margin-left: 5px; margin-bottom: 5px;">
                        <button class="btn btn-info dropdown-toggle" type="button" id="versions" 
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-star"></i> <span>Altres formats</span></button>
                        <div class="dropdown-menu" aria-labelledby="versions" style="overflow: scroll; max-height: 300px;">
                            <a class="dropdown-item" href="#!index">
                                                        <i class="fa fa-print"></i>  <span>Totes les proves</span></a>
                            <a class="dropdown-item" href="#!imprimibles">
                                    <i class="fa fa-print"></i>  <span>Proves per imprimir</span></a>                            
                        </div>
                </div>
            </div> 
         
             <table class="table table-striped table-hover table-bordered">
                     <tbody>
                             <tr ng-repeat="prova in proves_filtrades">
                                     <td><span ng-bind="prova.title"></span></td>
                                     <td><button class="btn btn-sm btn-primary" ng-click="gotoExamen(prova)">Accediu a la prova</button></td>
                             </tr>

                     </tbody>
             </table>

                


<script>
app.controller("interactivesController", ["$scope", "httpService", function($scope, httpService) { 

        // carrega tots els examens interactius disponibles
        $scope.nivells = ["Tots els nivells"];
        $scope.competencies = ["Totes les competències"];
        $scope.anys = ["Tots els anys"];

        $scope.selected = {
                nivell: $scope.nivells[0],
                competencia: $scope.competencies[0],
                any: $scope.anys[0]
        };

        $scope.proves_filtrades = [];

        httpService.loadSchema("proves_interactives").then( function(response){
                var data = response.data;
                for(var i=0, len=data.length; i<len; i++) {
                        var item = data[i];
                        item.id = i+1;
                        if($scope.nivells.indexOf(item.nivell)<0) {
                                $scope.nivells.push(item.nivell);
                        }
                        if($scope.competencies.indexOf(item.competencia)<0) {
                                $scope.competencies.push(item.competencia);
                        }
                        if($scope.anys.indexOf(item.any)<0) {
                                $scope.anys.push(item.any);
                        }

                }
                window.provesJSON = data;
                $scope.filtra();
        });


        $scope.filtra = function() {
                var proves = [];

                for(var i=0, len=window.provesJSON.length; i<len; i++) {
                        var item = window.provesJSON[i];
                        if( ($scope.selected.nivell==$scope.nivells[0] || $scope.selected.nivell==item.nivell) &&
                            ($scope.selected.competencia==$scope.competencies[0] || $scope.selected.competencia==item.competencia) &&
                            ($scope.selected.any==$scope.anys[0] || $scope.selected.any==item.any) 
                        ) {
                                 proves.push(item);
                        }
                }

                $scope.proves_filtrades = proves;

        };

        $scope.set = function(prop, value) {
                $scope.selected[prop] = value;
                $scope.filtra();
        }

        $scope.gotoExamen = function(prova) {
                location.href = "prova_interactiva.html?id=" + prova.id+"&lang=ca";
        };
        <% if(config.remoteURL) { %>
            httpService.hit(location.href, "PAGE");
        <% } %>
       
}]);
</script>