<nav>


<div class="push-right" style="margin-top: 10px; margin-right:10px;">
   
        <a href="/<%=routes.baseurl%>/index.html" target="_blank" style="margin-right:10px"> Obrir el site local</a>
    
        <p-button label="Persistir" @click="persist" class="p-button-primary" title="Persisteix canvis a disc i genera la web"></p-button>
        <p-button label="Publicar" @click="verDlgConfirmPublicar=true" class="p-button-success" title="Genera el site per publicar i el copia al destí seleccionat"></p-button>
</div>
<h1 style="margin-left:10px">Consola d'administració de la WEB IAQSE</h1>

<p-menubar :model="menuModel" style="clear:both"></p-menubar>
</nav>

<br/> 


<p-toast id="toast" position="bottomright"></p-toast>
