<nav>


<div class="push-right" style="margin-top: 10px; margin-right:10px;">
   
        <a href="/<%=routes.baseurl%>/index.html" target="_blank" style="margin-right:10px"> Obrir el site local</a>
    
        <p-button label="Desar canvis" @click="saveChanges" class="p-button-primary"></p-button>
        <p-button label="Publicar" @click="publish" class="p-button-success"></p-button>
</div>
<h1>Consola d'administració de la WEB IAQSE</h1>

<p-menubar :model="menuModel"></p-menubar>
</nav>

<br/>


<p-toast id="toast" position="bottomleft"></p-toast>
