<!DOCTYPE html">
<html lang="es">

<head>
    <meta title="webconsole-inici" />
    <%- include head.ejs %>
</head>

<body>
    <div id="webconsole-page">

        <%- include header.ejs %>
 
        <h1>PANTALLA D'INICI</h1>
        <p-tabview>
            <p-tabpanel header="Carousel">

                <center>
                    <p-button label="Afegir" @click="addPantallaCarousel()" class="p-button-success" icon="pi pi-plus">
                    </p-button>
                </center>

                <br />
 
                    <p-orderlist v-model="inici_carousel" listStyle="height:auto" dataKey="id" @reorder="carouselReorder">
                        <template #header>
                            Pantalles del carousel
                        </template>
                        <template #item="slotProps">
                            <p-button icon="pi pi-pencil" class="p-button-success"
                                @click="pantallaCarousel=clone(slotProps.item);verDlgEditCarousel=true;"></p-button>
                         
                            <p-button class="p-button-danger" icon="pi pi-trash"
                                @click="pantallaCarousel=slotProps.item; verDlgDelCarousel=true" title="Esborrar">
                            </p-button>

                            <img :src="'../'+ slotProps.item.img" style="width:60px; vertical-align: middle;" />
                            <i class="pi pi-eye-slash" v-if="slotProps.item.hiden"></i>
                            <i v-if="!slotProps.item.hiden" style="display: inline-block; width: 18px;"></i>
                            {{slotProps.item.title}}
                        </template>
                    </p-orderlist>

                    <br />

            </p-tabpanel>


           
            <p-tabpanel header="Destacats">
                <center>
                    <p-button label="Afegir" @click="addDestacat()" class="p-button-success" icon="pi pi-plus">
                    </p-button>
                </center>

                <br />

                <div class="pa-info">
                    <p>Aquestes són notícies MANUALS que s'ordenaran automàticament per data de publicació. A més s'afegiran automàticament les darreres publicacions trobades.</p>
                </div>
              
                    <table class="p-datatable" style="width:98%; table-layout: fixed;">
                        <thead class="p-datatable-thead">
                            <tr>
                                <th>Title</th>
                                <th style="width:15%">Icon/Img</th>
                                <th style="width:15%">Class</th>
                                <th> Url</th>
                                <th style="width:15%">Url target</th>
                                <th style="width: 140px;">Data publicació</th>
                                <th>Accions</th>
                            </tr>
                        </thead>
                        <tbody class="p-datatable-tbody">
                            <tr v-for="actual in inici_destacats" :class="[actual.hiden?'row-hiden':'']">
                                <td>
                                    {{actual.title}}
                                </td>
                                <td>
                                   <i :class="actual.icon" v-if="actual.icon"></i> {{actual.icon}}
                                </td>
                                <td>
                                    {{actual.class}}
                                </td>
                                <td>
                                    <span style="word-wrap: break-word;"> {{actual.url}}</span>
                                </td>
                                <td>
                                    {{actual.target}}
                                </td>
                                <td>
                                    {{actual.pubdate}}
                                </td>
                                <td>
                                    <p-button class="p-button-danger"
                                        @click="verDlgDelDestacat=true;destacatSeleccionat=actual" icon="pi pi-trash">
                                    </p-button>
                                    <p-button class="p-button-primary" icon="pi pi-pencil"
                                        @click="verDlgEditDestacat=true;destacatSeleccionat=clone(actual);"></p-button>
                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                
            </p-tabpanel>
    
        </p-tabview>

        <!------------------------------------   DIALOGS  ---------------------------------------------------------->
    
 
        <p-dialog header="Confirmar esborrar carousel" :visible.sync="verDlgDelCarousel" :modal="true">
            <p>Segur que voleu esborrar aquesta pantalla del carousel?</p>
            <p-button label="No" icon="pi pi-times" class="p-button-secondary" @click="verDlgDelCarousel=false">
            </p-button>
            <p-button label="Sí" icon="pi pi-check" class="p-button-danger" @click="esborrarCarousel"></p-button>
        </p-dialog>

        <p-dialog header="Confirmar esborrar destacat" :visible.sync="verDlgDelDestacat" :modal="true">
            <p>Segur que voleu esborrar aquesta notícia destacada?</p>
            <p-button label="No" icon="pi pi-times" class="p-button-secondary" @click="verDlgDelDestacat=false">
            </p-button>
            <p-button label="Sí" icon="pi pi-check" class="p-button-danger" @click="esborrarDestacat"></p-button>
        </p-dialog>

        <p-dialog header="Editar carousel" :visible.sync="verDlgEditCarousel" :modal="true" :maximizable="true">
            <div v-if="pantallaCarousel">
                <br />

                <table class="p-datatable" style="width: 98%;">
                    <thead class="p-datatable-thead">
                        <tr>
                            <th style="width: 20%;">Propietat</th>
                            <th style="width: 80%;">Valor</th>
                        </tr>
                    </thead>
                    <tbody class="p-datatable-tbody">
                        <tr>
                            <td>Visibilitat</td>
                            <td>   <p-togglebutton v-model="pantallaCarousel.hiden" on-label="Amagat" off-label="Visible"
                                on-icon="pi pi-eye-slash" off-icon="pi pi-eye"></p-togglebutton> </td>
                        </tr>
                        <tr>
                            <td>Titol</td> 
                            <td>
                                <p-inputtext v-model="pantallaCarousel.title" style="width: 100%;"></p-inputtext>
                            </td>
                        </tr>
                        <tr>
                            <td>Descripció</td>
                            <td>
                                <p-textarea v-model="pantallaCarousel.description" style="width: 100%;">
                                </p-textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Imatge</td>
                            <td>
                                <p-inputtext v-model="pantallaCarousel.img" style="width: 90%;"></p-inputtext>
                                <p-button class="p-button-secondary" icon="pi pi-search"
                                    @click="verDlgPreviewImage=true" title="Previsualització"></p-button>
                            </td>
                        </tr>
                        <tr>
                            <td>Enllaç</td>
                            <td>
                                <p-inputtext v-model="pantallaCarousel.url" style="width: 90%;"></p-inputtext>
                                <a :href="getRealUrl(pantallaCarousel.url)" target="_blank">Enllaç</a>
                            </td>

                        </tr>
                        <tr>
                            <td>Target d'enllaç</td>
                            <td>
                                <p-dropdown v-model="pantallaCarousel.target" :options="opcionsTarget"></p-dropdown>
                        </tr>
                    </tbody>
                </table>
                <br />

                <p-button icon="pi pi-times" class="p-button-secondary" @click="verDlgEditCarousel=false; pantallaCarousel=null;"
                    label="Cancel·lar"></p-button>
                <p-button icon="pi pi-tick" class="p-button-primary" @click="confirmEditCarousel" label="Acceptar">
                </p-button>
            </div>
        </p-dialog>

        <p-dialog header="Editar destacat" :visible.sync="verDlgEditDestacat" :modal="true" :maximizable="true">
            <div v-if="destacatSeleccionat">

                <table class="p-table">
                    <tbody class="p-table-tbody">
                       
                        <tr>
                            <td>Visibilitat</td>
                            <td>
                                <p-togglebutton v-model="destacatSeleccionat.hiden" on-label="Amagat" off-label="Visible"
                                on-icon="pi pi-eye-slash" off-icon="pi pi-eye"></p-togglebutton>
                            </td>
                        </tr>
                        <tr>
                            <td>Títol</td>
                            <td>
                                <p-textarea v-model="destacatSeleccionat.title" style="width:400px"></p-textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Icona</td>
                            <td>
                                <p-dropdown v-model="destacatSeleccionat.icon" :options="opcionsIcona" style="width:400px" :editable="true"></p-dropdown>
                            </td>
                        </tr>
                        <tr>
                            <td>Imatge</td>
                            <td>
                                <p-inputtext v-model="destacatSeleccionat.img" style="width:400px"></p-inputtext>
                            </td>
                        </tr>
                        <tr>
                            <td>Class</td>
                            <td>
                                <p-dropdown v-model="destacatSeleccionat.class" :options="opcionsClass" style="width:400px" :editable="true"></p-dropdown>
                            </td>
                        </tr>
                        <tr>
                            <td>Url</td>
                            <td>
                                <p-inputtext v-model="destacatSeleccionat.url" style="width:400px"></p-inputtext>
                            </td>
                        </tr>
                        <tr>
                            <td>Url target</td>
                            <td>
                                <p-dropdown v-model="destacatSeleccionat.target" :options="opcionsTarget" style="width:400px"></p-dropdown>
                            </td>
                        </tr>
                        <tr>
                            <td>Data (dd/MM/yyyy)</td>
                            <td>
                                <p-inputtext v-model="destacatSeleccionat.pubdate" style="width:400px"></p-inputtext>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <p-button label="Cancel·lar" icon="pi pi-times" class="p-button-secondary" @click="destacatSeleccionat=null; verDlgEditDestacat=false">
            </p-button>
            <p-button label="Acceptar" icon="pi pi-tick" class="p-button-primary" @click="confirmEditDestacat">
            </p-button>
        </p-dialog>

        <p-dialog header="Previsualització imatge" :visible.sync="verDlgPreviewImage" :modal="true">
            <img v-if="pantallaCarousel" :src="'../' + pantallaCarousel.img" style="max-width: 600px;" />
            <br />
            <p-button label="Tancar" icon="pi pi-times" class="p-button-secondary" @click="verDlgPreviewImage=false">
            </p-button>
        </p-dialog>

        <p-dialog header="Espereu" :visible.sync="verDlgGenerant" :modal="true">
            <p>
                <i class="pi pi-spin pi-spinner" style="font-size: 2rem; vertical-align: middle;"></i>
                Generant el site... Espereu si us plau.
            </p>
        </p-dialog>
   
    </div>
    <%- include footer.ejs %>

    <script>
        requirejs(['p_orderlist', 'p_dialog', 'p_textarea', 'p_togglebutton', 'p_dropdown', 'p_tabview', 'p_tabpanel'],
            function (p_orderlist, p_dialog, p_textarea, p_togglebutton, p_dropdown, p_tabview, p_tabpanel) {

                Vue.component('p-tabview', p_tabview);
                Vue.component('p-tabpanel', p_tabpanel);
                Vue.component('p-orderlist', p_orderlist);
                Vue.component('p-dialog', p_dialog);
                Vue.component('p-textarea', p_textarea);
                Vue.component('p-togglebutton', p_togglebutton);
                Vue.component('p-dropdown', p_dropdown);

                var vm = new Vue({
                    el: '#webconsole-page',
                    data: function () {
                        return { 
                            menuModel: menuModelBuilder(),
                            inici_carousel: [],
                            inici_destacats: [], 
                            pantallaCarousel: null,
                            verDlgGenerant: false,
                            verDlgDelCarousel: false,
                            verDlgPreviewImage: false,
                            verDlgDelDestacat: false,
                            verDlgEditCarousel: false,
                            verDlgEditDestacat: false,
                            destacatSeleccionat: null,
                            opcionsTarget: [
                                "", "_self", "_blank"
                            ],
                            opcionsIcona: [
                                'fa fa-print',
                                'fa fa-home',
                                'fa fa-bookmark',
                                'fa fa-chart',
                                'fa fa-book',
                                'fa fa-comments',
                                'fa fa-file-pdf-o'
                            ],
                            opcionsClass: [
                                'bg-warning'
                            ]
                        }
                    },
                    mounted: function () {
                        db = myjdb('<%=mountPoint%>', this); 
                        db.loadTable('inici_carousel');
                        db.loadTable('inici_destacats');
                    },
                    methods: {
                        persist: function () {
                            var self = this;
                            this.verDlgGenerant = true;
                            db.persist().then(function(ok){
                                console.log(ok);
                                self.verDlgGenerant = false;
                                if(ok) {
                                     self.$toast.add({ severity: 'success', summary: "S'han persistit els canvis a disc", life: 3000 });
                                } else {
                                    self.$toast.add({ severity: 'error', summary: "No s'han pogut persistir els canvis a disc"});
                                }
                            }, function(err) {
                                console.log(err);
                                self.verDlgGenerant = false;
                                self.$toast.add({ severity: 'error', summary: "No s'han pogut persistir els canvis a disc"});
                            }); 
                        },
                        publish: function () {

                        },
                        revert: function() {

                        },
                        addPantallaCarousel: function () {
                            this.pantallaCarousel = {
                                title: 'Nova pantalla',
                                description: '',
                                img: 'img/carousel/x.jpg',
                                url: '',
                                target: '_self'
                            };  
                            this.verDlgEditCarousel = true;
                        },
                        esborrarCarousel: function () {
                            if (!this.pantallaCarousel) {
                                return;
                            } 
                            db.remove('inici_carousel', this.pantallaCarousel.id);
                            this.verDlgDelCarousel = false;
                            this.pantallaCarousel = null;
                        },
                        carouselReorder: function(event) {
                            if(window.reorderTimeout) {
                               clearTimeout(window.reorderTimeout);
                            } 
                            window.reorderTimeout = setTimeout(function() {
                                db.sync('inici_carousel');
                            }, 2000);
                        },
                        getRealUrl: function (url) {
                            if (url && url.indexOf("http") < 0) {
                                url = "/cat/" + url;
                            }
                            return url;
                        },
                        addDestacat: function () {
                            var today = new Date();
                            this.destacatSeleccionat = { 
                                title: 'Nou destacat',
                                icon: 'fa fa-print',
                                class: null,
                                url: '',
                                target: '_self',
                                pubdate: formatDate(today)
                            };
                            this.verDlgEditDestacat = true;
                        },
                        esborrarDestacat: function () {
                            if(!this.destacatSeleccionat) {
                                return;
                            }
                            db.remove('inici_destacats', this.destacatSeleccionat.id);
                            this.verDlgDelDestacat = false;
                        },
                        confirmEditCarousel: function () {
                            var self = this;
                            if(this.pantallaCarousel == null) {
                                return;
                            }
                            if(this.pantallaCarousel.id) {
                                // update
                                db.update('inici_carousel', this.pantallaCarousel.id, this.pantallaCarousel);
                            } else {
                                // insert
                                db.add(this.pantallaCarousel, 'inici_carousel', '/');
                            }
                            this.verDlgEditCarousel = false;
                        },
                        confirmEditDestacat: function() {
                            var self = this;
                            if(this.destacatSeleccionat == null) {
                                return;
                            }
                            if(this.destacatSeleccionat.id) {
                                // update
                                db.update('inici_destacats', this.destacatSeleccionat.id, this.destacatSeleccionat);
                            } else {
                                // insert
                                db.add(this.destacatSeleccionat, 'inici_destacats', '/', 0);
                            }
                            this.verDlgEditDestacat = false;
                        }
                    }
                });

            });

    </script>
</body>

</html>