<!DOCTYPE html">
<html lang="es">
<head>
    <meta title="webconsole-ava-enllacos" />
    <%- include head.ejs %>
</head>
<body>
    <div id="webconsole-page">

        <%- include header.ejs %>

        <h1>ENLLAÇOS</h1>
        
        <div v-if="table.contents">

            {{table.contents}}


        </div>

        <%- include footer.ejs %>

    </div>

    <script>
        requirejs([], function () {

            var tableName = "enllacos";
            var vm = new Vue({
                el: '#webconsole-page',
                data: function () {
                    return {
                        menuModel: menuModelBuilder(),
                        table: {}
                    }
                },
                mounted: function () {
                    var self = this;
                    axios.post("/<%=mountPoint%>/api/gettable", { tableName: tableName }).then(function (res) {
                        // comprova que tots els elements tenen una id
                        var tipusLen = res.data.contents.length;
                        for(var i=0; i < tipusLen; i++) {
                            check_ids(res.data.contents[i].list);
                        }
                        self.table = res.data;
                    }, function (err) {
                        self.table = {};
                        self.$toast.add({ severity: 'error', summary: "No s'ha pogut carregar la taula " + tableName, 
                                          life: 3000 });
                        console.log(err);
                    });
                },
                methods: {
                    saveChanges: function(){

                    },
                    publish: function() {

                    }
                }
            });

        });
    </script>
</body>

</html>