<!DOCTYPE html">
<html lang="es">
<head>
    <meta title="webconsole-inici" />
    <%- include head.ejs %>
</head>
<body>
    <div id="webconsole-page">

        <%- include header.ejs %>

        <h1>PERSONAL</h1>
        
        <div v-if="table.contents">

            {{table.contents}}


        </div>

        <%- include footer.ejs %>

    </div>

    <script>
        requirejs([], function () {

            var tableName = "personal";
            var vm = new Vue({
                el: '#webconsole-page',
                data: function () {
                    return {
                        menuModel: menuModelBuilder(),
                        table: {}
                    }
                },
                mounted: function () {
                    var self = this;
                    axios.post("/<%=mountPoint%>/api/gettable", { tableName: tableName }).then(function (res) {
                        // comprova que tots els elements tenen una id
                        check_ids(res.data.contents);
                        self.table = res.data;
                    }, function (err) {
                        self.table = {};
                        self.$toast.add({ severity: 'error', summary: "No s'ha pogut carregar la taula " + tableName, life: 3000 });
                        console.log(err);
                    });
                },
                methods: {
                    saveChanges: function(){

                    },
                    publish: function() {

                    }
                }
            });

        });
    </script>
</body>

</html>