body {
    margin-bottom: 5px; font-family: 'Montserrat', sans-serif;
    background:whitesmoke;
    overflow-y: scroll;
    font-size: 95%;
}
navbar {
    height: 60px!important;
}
#main-wrap {
    margin: 0px;
    width: 100%;
    background: white;
    padding-top: 10px;
    padding-bottom: 30px;
}
#main-wrap > div {
    min-height: 500px;
}
main {
    margin: 0px 10px 0px 10px;
    background: white;
    min-height: 500px;
}
a:hover {
    text-decoration: none;
}
#svg-brand {
    width: 30px;
    height: 30px; 
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;    /* Firefox < 16 */
     -ms-animation: fadein 2s;    /* Internet Explorer */
      -o-animation: fadein 2s;    /* Opera < 12.1 */
         animation: fadein 2s;
}
.logo-left {
    margin-left:120px;
    margin-top: 20px;
    float:left;
    width: 150px;
    height: 90px; 
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;    /* Firefox < 16 */
     -ms-animation: fadein 2s;    /* Internet Explorer */
      -o-animation: fadein 2s;    /* Opera < 12.1 */
         animation: fadein 2s;
}
.logo-right {
     margin-top: 35px;
     margin-right: 50px;  
     float: right;
}
.iaqse-logo {
    margin: 5px 20px 5px 5px;
    width: 175px;
    height: 150px; 
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

footer {
    margin-top: 50px!important;
    color: rgb(57, 57, 57);
    background: #d6efff;
}
.gradient{ 
    opacity: 1; 
    background-color: #233c73; 
    border-bottom: 1px solid black;
    /*background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
    background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);*/
}
#logo-cab {
    margin-top:50px;
    padding:5px 0px 10px 0px;
    background: #d6efff;
}
#carouselIndicators{
    max-width: 500px !important;
    margin: auto;
}
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
#routedContent.ng-enter{ 
    opacity: 0;
 
    -webkit-transition: all 0.1s cubic-bezier(1,.01,0,.99);
    -moz-transition: all 0.1s cubic-bezier(1,.01,0,.99);
    -ms-transition: all 0.1s cubic-bezier(1,.01,0,.99);
    -o-transition: all 0.1s cubic-bezier(1,.01,0,.99);
    transition: all 0.1s cubic-bezier(1,.01,0,.99);
}
#routedContent.ng-enter-active{ 
    opacity: 1;
}
#routedContent.ng-leave{ 
    opacity: 1;
    -webkit-transition: all 0.1s cubic-bezier(1,.01,0,.99);
    -moz-transition: all 0.1s cubic-bezier(1,.01,0,.99);
    -ms-transition: all 0.1s cubic-bezier(1,.01,0,.99);
    -o-transition: all 0.1s cubic-bezier(1,.01,0,.99);
    transition: all 0.1s cubic-bezier(1,.01,0,.99);
}
#routedContent.ng-leave-active{ 
    opacity: 0;
}
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top.show {
    opacity: 0.8 !important;
}
a > .card {
    text-decoration: none;
}
p {
    text-align: justify;
}
.card.card-menu {
    width: 220px;
    height: 180px;
    background: rgb(49, 49, 49);
    color:white;
    vertical-align: middle;
    margin: 5px;
    display: inline-block;
}
.card.card-menu:hover { 
    background: rgb(101, 101, 101); 
}
.card.card-menu > .card-body {
    vertical-align: middle;
    font-weight: bold;
}
.list-group-item-hover:hover{
    background: whitesmoke;
}
.publication-img {
    width: 100px;
    margin: 15px;
    border: 1px solid grey; 
    box-shadow: 5px 5px grey;
}
.enllacos-img {
    width:90px;
    margin: 15px;
    border: 1px solid grey; 
    box-shadow: 5px 5px grey;
}
.enllacos-title {
    vertical-align: middle;
    text-align: left;
    margin-top: 20px;
}
a>.enllacos-title {
    text-decoration: none !important;
}
.publication-title > a{
    text-decoration: none;
}
.publication-title {
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
} 
.publication-date {
    font-style: italic;
}
.list-spaced > li {
    margin-bottom: 15px;
    text-align: justify;
}
.list-spaced > li > p{
    margin-bottom: 15px;
    text-align: justify;
}

.div_bloque_persona{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    min-width: 380px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid lightgray;
    height: 150px;
    vertical-align: middle;
    background: rgb(214,239,255);
    background: -moz-linear-gradient(0deg, rgba(214,239,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(214,239,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(214,239,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d6efff",endColorstr="#ffffff",GradientType=1);
}
.div_img_persona{
    display: inline-block;
    width: 22%;
    max-width: 90px;
    vertical-align: top;
    margin: 5px; 
    margin-top: 10px;
}
.img_persona{
    border-radius: 10px;
    height: 80px;
    width: 80px; 
    box-shadow: 2px 2px lightgray;
}
.div_bloque_persona_cont{
    display: inline-block;
    vertical-align: middle;
    width: 70%; 
    color: #004085;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: auto;
    
}
.div_bloque_persona_nombre{
    display: inline-block;
    width: 90%;
    max-width: 290px;
    padding-bottom:5px;
    padding-top: 5px; 
}

.div_bloque_persona_nombre p{
    font-size: 110%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #004085;
    text-align: center;
}
.div_bloque_persona_cargo{
    display: inline-block;
    width: 55%; 
    margin-left: auto;
    margin-right: auto;
    padding-bottom:1px;
    padding-top: 1px;  
    text-align: left;
}
.div_bloque_persona_cargo p{   
}
.div_bloque_persona_ext{
    display: inline-block;
    width: 25%; 
    margin-left: auto;
    margin-right: auto;
    padding-bottom:1px;
    padding-top: 1px;  
    text-align: right;            
}
.div_bloque_persona_ext p{  
}
.div_bloque_persona_correu{
    display: inline-block;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}
.div_bloque_persona_correu p{
    color: #004085;
}
.btn-tagpub {
    width: 220px;
}

[data-toggle="collapse"] .fa:before {   
    content: "\f139";
}
  
[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}
.dropdown-menu {
    max-height: 300px !important;
    overflow-y: auto !important;
}
.dropdown-item {
    cursor: pointer;
}
.panel-destacats {
    max-height: 300px; 
    overflow-y: auto;
}

/* Small devices (landscape phones, up to 576px) */
@media (max-width: 576px) { 
    body {
        font-size: 80%;
    }
    main {
        margin: 20px 10px 0 10px;
    }
    .enllacos-img {
        width: 60px;
    }
    .publication-img {
        width: 70px;
    }
    .logo-left {
        margin-left:20px; 
        width: 130px;
    }
    .logo-right {
         margin-right:15px;  
    }
    .panel-destacats {
        max-height: initial; 
        overflow: initial;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {  
    .panel-destacats {
        max-height: initial; 
        overflow: initial;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {   }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {    
    .logo-left {  
        width: 150px;
        margin-left:150px; 
    }
    .logo-right {
        margin-right:150px;  
    }
}
