<!DOCTYPE html>
<html lang="ca">

    <head>
          <meta charset="iso-8859-1">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Institut d'avaluació i qualitat del sistema educatiu">
  <meta name="author" content="iaqse@iaqse.caib.es">
	<meta name="language" content="cat" />
  
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<meta name="robots" content="index,follow">
	<meta name="document-classification" content="Education">
	<meta name="document-type" content="Public">
	<meta name="document-rating" content="Safe for Kids">
	  
	<link rel="icon" href="../css/img/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" type="image/x-icon" href="../css/img/favicon.ico">	 
	 

  <title>IAQSE</title>
  <link href="iaqse_bundle.min.css" rel="stylesheet">
  <link href="../css/assets/fontawesome/css/all.min.css" rel="stylesheet">
  <script src="iaqse_bundle1.min.js"></script> 
  

<script>
  window.chunker = function(arr, chunkSize) {
      var R = [];
      for (var i=0,len=arr.length; i<len; i+=chunkSize)
           R.push(arr.slice(i,i+chunkSize));
      return R;
  }; 
  window.getURLParameter = function( name ){
        var regexS = "[\\?&]"+name+"=([^&#]*)", 
    regex = new RegExp( regexS ),
    results = regex.exec( window.location.search );
    if(results==null){
      results = regex.exec( window.location.href );
    }
    if( results == null ){
        return "";
    } else{
        return decodeURIComponent(results[1].replace(/\+/g, " "));
    }
  };
  window.app = angular.module("iaqse", ["ngRoute", "ngSanitize", "ngAnimate"]);
  app.config(['$sceProvider',function($sceProvider){
    $sceProvider.enabled(false);
  }]);
  app.service("httpService", ["$http", function($http){            
            var service  = {
                loadSchema: function(tableSchema){
                  var request = {
                      method: 'get',
                      url: 'database/' + tableSchema + '.json',
                      dataType: 'json',
                      contentType: "application/json; charset=iso-8859-1"
                  };
                  return $http(request);
                }
            };
            return service;            
  }]);
  window.app.filter("fileName", function(){
        return function(fullPath) {
            var i = fullPath.lastIndexOf("/");
            return fullPath.substring(i+1);
        }
  });
  window.app.filter("icona", function(){
    return function(filename) {
            var extension = filename.substring(filename.lastIndexOf(".")+1).trim().toLowerCase();
            if(extension == "word") {
                return "fa-file-word";
            } else if(extension == "zip" || extension == "rar" ) {
                return "fa-file-archive";
            } else if(extension == "pdf") {
                return "fa-file-pdf";
            } else if(extension == "mp4" || extension == "avi" || extension == "mov" || extension == "qt") {
                return "fa-file-video";
            } else if(extension == "mp3" || extension == "ogg") {
                return "fa-file-audio";
            }

            return "fa-file";
        }
  });
  window.app.config(["$controllerProvider", "$provide", "$compileProvider", "$filterProvider",
       function($controllerProvider, $provide, $compileProvider, $filterProvider) {
    // Since the "shorthand" methods for component
    // definitions are no longer valid, we can just
    // override them to use the providers for post-
    // bootstrap loading.
    // Let's keep the older references.
    app._controller = app.controller;
    app._service = app.service;
    app._filter = app.filter;
    app._component = app.component;
    app._factory = app.factory;
    app._value = app.value;
    app._directive = app.directive;
    app.controller = function(name, constructor) {
      $controllerProvider.register(name, constructor);
      return (this);
    };
    // Provider-based service.
    app.service = function(name, constructor) {
      $provide.service(name, constructor);
      return (this);
    };
    // Provider-based factory.
    app.factory = function(name, factory) {
      $provide.factory(name, factory);
      return (this);
    };
    // Provider-based value.
    app.value = function(name, value) {
      $provide.value(name, value);
      return (this);
    };
    // Provider-based filter.
    app.filter = function(name, filter) {
      $filterProvider.register(name, filter);
      return (this);
    };
    // Provider-based component.
    app.component = function(name, component) {
      $compileProvider.component(name, component);
      return (this);
    };
    // Provider-based directive.
    app.directive = function(name, factory) {
      $compileProvider.directive(name, factory);
      return (this);
    };
  }]);
</script>
    </head>

    <body>
        <div style="max-width: 1500px; margin: auto;">
        <header>
              <nav class="navbar navbar-expand-md navbar-dark fixed-top gradient" style="background-color: #003366 !important;">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="../img/svg/qiaqse2.png" style="height:25px"/>
        <span><b class="d-md-none d-xl-inline" style="color:rgb(255,70,70); font-family: Arial, Helvetica, sans-serif;vertical-align: top;">IAQSE</b></span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item ">
            <a class="nav-link" href="index.html" title="">Inici</span>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="quisom.html" title="">Qui som</span>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="avaluacions.html" title="">Avaluacions</span>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="publicacions.html" title="">Publicacions</span>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="indicadors.html" title="">Indicadors</span>
            </a>
          </li>
          
          <li class="nav-item  active ">
            <a class="nav-link" href="enllacos.html" title="">Enllaços</span>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="proves.html" title="Proves alliberades">Proves</span>
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <div id="logo-cab" class="container-fluid">
    <div class="clearfix">
          <div id="svg-logo-cab" class="logo-left"></div> 
           <div class="logo-right">
             <center>
                <a href="https://apps.caib.es/gesavafront/" target="_blank" title="Programari de gestió d'avaluacions">
                 
                    <img src="../img/gesava.png" style="width:35px"><br>
                    <span style="font-size: 90%">Accés GESAVA</span>
                </a>
              </center>
          </div> 
      </div>
     
  </div>
  
        </header>

        <div id="main-wrap" class="container-fluid">
            <div class="row">
                <div class="col-xl-2 d-none d-xl-block">
                    <div class="alert alert-primary">
                        <h6><i class="fa fa-compass"></i> Navegació</h6>
                    </div>

                    <ul id="tree1">
                        
                        <li><a href="index.html">Inici</a>
                            
                        </li>
                        
                        <li><a href="quisom.html">Qui som</a>
                            
                            <ul>
                                
                                <li><a href="quisom.html#!/index">Índex</a>
                                    
                                </li>
                                
                                <li><a href="quisom.html#!/personal">Personal</a>
                                    
                                </li>
                                
                                <li><a href="quisom.html#!/funcions">Funcions</a>
                                    
                                </li>
                                
                                <li><a href="quisom.html#!/legislacio">Legislació</a>
                                    
                                </li>
                                
                            </ul>
                            
                        </li>
                        
                        <li><a href="avaluacions.html">Avaluacions</a>
                            
                            <ul>
                                
                                <li><a href="avaluacions.html#!/index">Índex</a>
                                    
                                </li>
                                
                                <li><a href="avaluacions.html#!/final_etapa">Avaluacions de final d&#39;etapa</a>
                                    
                                </li>
                                
                                <li><a href="avaluacions.html#!/diagnostic">Avaluacions de diagnòstic</a>
                                    
                                </li>
                                
                                <li><a href="avaluacions.html#!/internacionals">Avaluacions internacionals</a>
                                    
                                </li>
                                
                                <li><a href="avaluacions.html#!/altres">Altres avaluacions</a>
                                    
                                </li>
                                
                            </ul>
                            
                        </li>
                        
                        <li><a href="publicacions.html">Publicacions</a>
                            
                        </li>
                        
                        <li><a href="indicadors.html">Indicadors</a>
                            
                        </li>
                        
                        <li><a href="enllacos.html">Enllaços</a>
                            
                        </li>
                        
                        <li><a href="proves.html">Proves</a>
                            
                            <ul>
                                
                                <li><a href="proves.html#!/index">Originals</a>
                                    
                                </li>
                                
                                <li><a href="proves.html#!/imprimibles">Per imprimir</a>
                                    
                                </li>
                                
                                <li><a href="proves.html#!/interactives">Interactives</a>
                                    
                                </li>
                                
                            </ul>
                            
                        </li>
                        
                    </ul>
                </div>

                <div class="col-xl-10 col-lg-12">
                <main ng-app="iaqse">
                
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i></a></li> 
          <li class="breadcrumb-item active"> Enllaços </li>  
        </ol>
        </nav>
        <div ng-controller="mainController">
     <span class="filtrau">Filtrau per </span>
    <!--Tipus d'enllaç-->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false" style="white-space: normal;">
          {{selectedType.type}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            
                <a class="dropdown-item" ng-click="chooseType(0);" style="cursor: pointer;">
                    <i class="fas fa-circle" style="font-size: 50%; vertical-align: middle;"></i>
                    Organismes d&#39;avaluació i qualitat educativa espanyols
                </a>
            
                <a class="dropdown-item" ng-click="chooseType(1);" style="cursor: pointer;">
                    <i class="fas fa-circle" style="font-size: 50%; vertical-align: middle;"></i>
                    Institucions d&#39;avaluació educativa d&#39;altres països, i internacionals
                </a>
            
                <a class="dropdown-item" ng-click="chooseType(2);" style="cursor: pointer;">
                    <i class="fas fa-circle" style="font-size: 50%; vertical-align: middle;"></i>
                    Estudis internacionals d&#39;avaluació educativa
                </a>
            
                <a class="dropdown-item" ng-click="chooseType(3);" style="cursor: pointer;">
                    <i class="fas fa-circle" style="font-size: 50%; vertical-align: middle;"></i>
                    Programes de cooperació iberoamericana
                </a>
            
                <a class="dropdown-item" ng-click="chooseType(4);" style="cursor: pointer;">
                    <i class="fas fa-circle" style="font-size: 50%; vertical-align: middle;"></i>
                    Altres centres i recursos relacionats amb l&#39;avaluació i la investigació educativa
                </a>
            
                <a class="dropdown-item" ng-click="chooseType(5);" style="cursor: pointer;">
                    <i class="fas fa-circle" style="font-size: 50%; vertical-align: middle;"></i>
                    Estadístiques de l&#39;educació
                </a>
            
                <a class="dropdown-item" ng-click="chooseType(6);" style="cursor: pointer;">
                    <i class="fas fa-circle" style="font-size: 50%; vertical-align: middle;"></i>
                    Agències d&#39;avaluació de qualitat universitària
                </a>
            
                <a class="dropdown-item" ng-click="chooseType(7);" style="cursor: pointer;">
                    <i class="fas fa-circle" style="font-size: 50%; vertical-align: middle;"></i>
                    Webs de lectura
                </a>
            
        </div>
    </div> 
    <hr />
    <p ng-if="selectedType.length==0">No s'han trobat enllaços</p>
    <p ng-if="selectedType.length==1">S'ha trobat un enllaç</p>
    <p ng-if="selectedType.length>1">S'han trobat <span ng-bind="selectedType.length"></span> enllaços</p>
    <hr />

    <div ng-if="selectedType!=null" class="container-fluid">
         
        <div class="row" ng-repeat="chk in selectedType.list">
        <div class="list-group-item list-group-item-hover col-md-6" ng-repeat="pub in chk">           
            <div class="fa-pull-left"> 
                <a href="{{pub.url}}" title="{{pub.url_title}}" target="_blank"> 
                      <img ng-src="../{{pub.img}}" title="{{pub.img_title}}" class="enllacos-img"/>               
                </a>
            </div>            
            <a href="{{pub.url}}" title="{{pub.url_title}}" target="_blank"> 
                 <p  class="enllacos-title" ng-bind="pub.description"></p>
            </a>         
        </div> 
        </div>

    </div>
    </div>
    <script>
        
        
        app.controller("mainController", ["$scope","httpService", function($scope, httpService){
            $scope.chooseType = function(i) {
                $scope.selectedType = window.enllacosJSON[i];
            };
            httpService.loadSchema("enllacos").then(function(response){
                enllacosJSON = response.data;
                for(var i=0, len=enllacosJSON.length; i< len; i++) {
                    enllacosJSON[i].length = enllacosJSON[i].list.length;
                    enllacosJSON[i].list = chunker(enllacosJSON[i].list, 2);
                }
                $scope.chooseType(0);           
            });
            
        }]);
    </script></main>
                </div>
            </div>
                <footer class="py-1" style="width:100%; margin:0" title="Webmaster Josep Mulet Pol - Version 27-11-2019">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <p>
                Email. <a href="mailto:iaqse@iaqse.caib.es">iaqse@iaqse.caib.es</a><br>
                Tel. 971 17 78 76 - 
                Fax. 971 17 69 02
            </p>
        </div> 
        <div class="col-sm-6" style="padding-right: 95px;">
            <p style="text-align:right">
                C. del Ter, 16 Edifici A<br>
                07009 - Palma
            </p>
        </div>
    </div>
</div>
</footer>

<a href="#" id="back-to-top" class="btn btn-primary btn-lg" role="button"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>

<script src="iaqse_bundle2.min.js"></script>

<script>
  
    // El nostre servidor no permet carregar svg perquè l'apache no està ben configurat
    // Hack: les carregam per jquery   
    var replaceImgSvg = function(imgID, svgFile) {
        var $img = $(imgID);
        if($img.length) {
            $.ajax({
                type: "GET",
                url: svgFile, 
                contentType: "image/svg+xml;charset=ISO-8859-1", 
                success: function(data){
                    // Replace image with new SVG
                    var $svg = $(data.documentElement);
                    $svg.addClass($img.attr("class"));
                    $img.replaceWith($svg);
                }
        });
 
        }
    };

    $(function(){
        $('#tree1').treed();
        //replaceImgSvg('#svg-brand', '../img/svg/qiaqse2.svg');
        //$("#iaqse-brand").css("display", "");
        replaceImgSvg('#svg-logo-cab', '../img/svg/iaqse-caib-w.svg');
        replaceImgSvg('#logo-iaqse', '../img/svg/logo-iaqse.svg');
    });
    
   
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40778701-3', 'auto');
    ga('send', 'pageview');

</script>
            </div>
            
        </div>

</body>

</html>