<!DOCTYPE html>
<html lang="ca">

    <head>
          <meta charset="iso-8859-1">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Institut d'avaluació i qualitat del sistema educatiu">
  <meta name="author" content="iaqse@iaqse.caib.es">
	<meta name="language" content="cat" />
  
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<meta name="robots" content="index,follow">
	<meta name="document-classification" content="Education">
	<meta name="document-type" content="Public">
	<meta name="document-rating" content="Safe for Kids">
	  
	<link rel="icon" href="../css/img/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" type="image/x-icon" href="../css/img/favicon.ico">	 
	 

  <title>IAQSE</title>
  <link href="iaqse_bundle.min.css" rel="stylesheet">
  <link href="../css/assets/fontawesome/css/all.min.css" rel="stylesheet">
  <script src="iaqse_bundle1.min.js"></script> 
  

<script>
  window.chunker = function(arr, chunkSize) {
      var R = [];
      for (var i=0,len=arr.length; i<len; i+=chunkSize)
           R.push(arr.slice(i,i+chunkSize));
      return R;
  }; 
  window.getURLParameter = function( name ){
        var regexS = "[\\?&]"+name+"=([^&#]*)", 
    regex = new RegExp( regexS ),
    results = regex.exec( window.location.search );
    if(results==null){
      results = regex.exec( window.location.href );
    }
    if( results == null ){
        return "";
    } else{
        return decodeURIComponent(results[1].replace(/\+/g, " "));
    }
  };
  window.app = angular.module("iaqse", ["ngRoute", "ngSanitize", "ngAnimate"]);
  app.config(['$sceProvider',function($sceProvider){
    $sceProvider.enabled(false);
  }]);
  window.app.directive('a', ["httpService", function(httpService) {
    return {
        restrict: 'E', // only Elements (<a>),
        link: function(scope, elm, attr) {
            // every time you click on the link
            elm.on('click', function($event) {
                console.log("S'ha clicat sobre el document "+ attr.href);
                if(navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(function(pos){
                      httpService.hit(attr.href, "", pos.coords);
                  },
                  function(){
                      httpService.hit(attr.href, "", null);
                  });
                } else {
                  httpService.hit(attr.href, "", null);
                }
                return true;
            })
        }
    }
  }]);
  app.service("httpService", ["$http", function($http){            
            var service  = {
                loadSchema: function(tableSchema){
                  var request = {
                      method: 'get',
                      url: 'database/' + tableSchema + '.json',
                      dataType: 'json',
                      contentType: "application/json; charset=iso-8859-1"
                  };
                  return $http(request);
                },
                hit: function(url, tipus, coords) { 
                  $http.post('https://piworld.es/iaqseapi/visit/hit', {url: url, tipus: tipus, coords: coords});
                }
            };
            return service;            
  }]);
  window.app.filter("fileName", function(){
        return function(fullPath) {
            var i = fullPath.lastIndexOf("/");
            return fullPath.substring(i+1);
        }
  });
  window.app.filter("icona", function(){
    return function(filename) {
            var extension = filename.substring(filename.lastIndexOf(".")+1).trim().toLowerCase();
            if(extension == "word") {
                return "fa-file-word";
            } else if(extension == "zip" || extension == "rar" ) {
                return "fa-file-archive";
            } else if(extension == "pdf") {
                return "fa-file-pdf";
            } else if(extension == "mp4" || extension == "avi" || extension == "mov" || extension == "qt") {
                return "fa-file-video";
            } else if(extension == "mp3" || extension == "ogg") {
                return "fa-file-audio";
            }

            return "fa-file";
        }
  });
  window.app.config(["$controllerProvider", "$provide", "$compileProvider", "$filterProvider",
       function($controllerProvider, $provide, $compileProvider, $filterProvider) {
    // Since the "shorthand" methods for component
    // definitions are no longer valid, we can just
    // override them to use the providers for post-
    // bootstrap loading.
    // Let's keep the older references.
    app._controller = app.controller;
    app._service = app.service;
    app._filter = app.filter;
    app._component = app.component;
    app._factory = app.factory;
    app._value = app.value;
    app._directive = app.directive;
    app.controller = function(name, constructor) {
      $controllerProvider.register(name, constructor);
      return (this);
    };
    // Provider-based service.
    app.service = function(name, constructor) {
      $provide.service(name, constructor);
      return (this);
    };
    // Provider-based factory.
    app.factory = function(name, factory) {
      $provide.factory(name, factory);
      return (this);
    };
    // Provider-based value.
    app.value = function(name, value) {
      $provide.value(name, value);
      return (this);
    };
    // Provider-based filter.
    app.filter = function(name, filter) {
      $filterProvider.register(name, filter);
      return (this);
    };
    // Provider-based component.
    app.component = function(name, component) {
      $compileProvider.component(name, component);
      return (this);
    };
    // Provider-based directive.
    app.directive = function(name, factory) {
      $compileProvider.directive(name, factory);
      return (this);
    };
  }]);
</script>
    </head>

    <body>
        <div style="max-width: 1500px; margin: auto;">
        <header>
              <nav class="navbar navbar-expand-md navbar-dark fixed-top gradient" style="background-color: #003366 !important;">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="../img/svg/qiaqse2.png" style="height:25px"/>
        <span><b class="d-md-none d-xl-inline" style="color:rgb(255,70,70); font-family: Arial, Helvetica, sans-serif;vertical-align: top;">IAQSE</b></span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item ">
            <a class="nav-link" href="index.html" title="">Inici</span>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="quisom.html" title="">Qui som</span>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="avaluacions.html" title="">Avaluacions</span>
            </a>
          </li>
          
          <li class="nav-item  active ">
            <a class="nav-link" href="publicacions.html" title="">Publicacions</span>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="indicadors.html" title="">Indicadors</span>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="enllacos.html" title="">Enllaços</span>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="proves.html" title="Proves alliberades">Proves</span>
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <div id="logo-cab" class="container-fluid">
    <div class="clearfix">
          <div id="svg-logo-cab" class="logo-left"></div> 
           <div class="logo-right">
             <center>
                <a href="https://apps.caib.es/gesavafront/" target="_blank" title="Programari de gestió d'avaluacions">
                 
                    <img src="../img/gesava.png" style="width:35px"><br>
                    <span style="font-size: 90%">Accés GESAVA</span>
                </a>
              </center>
          </div> 
      </div>
     
  </div>
  
        </header>

        <div id="main-wrap" class="container-fluid">
            <div class="row">
                <div class="col-xl-2 d-none d-xl-block">
                    <div class="alert alert-primary">
                        <h6><i class="fa fa-compass"></i> Navegació</h6>
                    </div>

                    <ul id="tree1">
                        
                        <li><a href="index.html">Inici</a>
                            
                        </li>
                        
                        <li><a href="quisom.html">Qui som</a>
                            
                            <ul>
                                
                                <li><a href="quisom.html#!/index">Índex</a>
                                    
                                </li>
                                
                                <li><a href="quisom.html#!/personal">Personal</a>
                                    
                                </li>
                                
                                <li><a href="quisom.html#!/funcions">Funcions</a>
                                    
                                </li>
                                
                                <li><a href="quisom.html#!/legislacio">Legislació</a>
                                    
                                </li>
                                
                            </ul>
                            
                        </li>
                        
                        <li><a href="avaluacions.html">Avaluacions</a>
                            
                            <ul>
                                
                                <li><a href="avaluacions.html#!/index">Índex</a>
                                    
                                </li>
                                
                                <li><a href="avaluacions.html#!/final_etapa">Avaluacions de final d&#39;etapa</a>
                                    
                                </li>
                                
                                <li><a href="avaluacions.html#!/diagnostic">Avaluacions de diagnòstic</a>
                                    
                                </li>
                                
                                <li><a href="avaluacions.html#!/internacionals">Avaluacions internacionals</a>
                                    
                                </li>
                                
                                <li><a href="avaluacions.html#!/altres">Altres avaluacions</a>
                                    
                                </li>
                                
                            </ul>
                            
                        </li>
                        
                        <li><a href="publicacions.html">Publicacions</a>
                            
                        </li>
                        
                        <li><a href="indicadors.html">Indicadors</a>
                            
                        </li>
                        
                        <li><a href="enllacos.html">Enllaços</a>
                            
                        </li>
                        
                        <li><a href="proves.html">Proves</a>
                            
                            <ul>
                                
                                <li><a href="proves.html#!/index">Originals</a>
                                    
                                </li>
                                
                                <li><a href="proves.html#!/imprimibles">Per imprimir</a>
                                    
                                </li>
                                
                                <li><a href="proves.html#!/interactives">Interactives</a>
                                    
                                </li>
                                
                            </ul>
                            
                        </li>
                        
                    </ul>
                </div>

                <div class="col-xl-10 col-lg-12">
                <main ng-app="iaqse">
                
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i></a></li> 
          <li class="breadcrumb-item active"> Publicacions </li>  
        </ol>
        </nav>
        <div ng-controller="mainController">
     
        <div class="clearfix">
                <span class="filtrau">Filtrau per </span>
             <!--combo categories-->
        <div class="btn-group float-left" title="Cerca per categoria" style="margin-left: 10px; margin-bottom: 5px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="tagsCombo" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-tags"></i> <span ng-bind="selectedTag.name"></span></button>
            <div class="dropdown-menu" aria-labelledby="tagsCombo">
                <a class="dropdown-item" ng-click="listByTag($index)" ng-repeat="st in searchTags"><span ng-bind="st.name"></span></a>
            </div>
        </div>
        <!--inputText search-->
        <div class="input-group float-left" style="max-width: 400px; margin-left:10px;margin-bottom: 5px;" title="Cerca per text">
            <input type="text" class="form-control" placeholder="Cerca" ng-model="searchText"
                ng-keypress="keypress($event)">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button" ng-click="search()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div> 
        <!--spinner any-->
        <div class="float-left form-inline" style="margin-left: 30px;margin-bottom: 5px;">
               <input class="form-check-input" type="checkbox"  id="activaCercaAny" style="vertical-align: sub;" ng-model="years.activaCercaAny"
               ng-change="onYearChange(true)">
               <label class="form-check-label" for="activaCercaAny" style="vertical-align: sub;"> Cerca per any </label>
               
               <input type="number" min="2000" max="{{years.thisYear}}" class="form-control" ng-model="years.selectedYear"   
               ng-change="onYearChange(false)" ng-if="years.activaCercaAny" title="Triau l'any" style="width: 100px;margin-left: 10px;"/>
        </div>
    </div> 


    <hr />
    <p ng-if="pubs.length==0">No s'han trobat publicacions</p>
    <p ng-if="pubs.length==1">S'ha trobat una publicació</p>
    <p ng-if="pubs.length>1">S'han trobat <span ng-bind="pubs.length"></span> publicacions</p>
    <hr />

    <div class="list-group">
        <div class="list-group-item list-group-item-hover" ng-repeat="pub in pubs">
            <div class="fa-pull-left">
                <i ng-if="pub.destacat" class="fa fa-star"></i>
                <a href="../{{pub.url}}" target="_blank">
                    <img ng-src="../{{pub.img}}" class="publication-img" />
                </a>
            </div>

            <p class="publication-title"><a href="../{{pub.url}}" target="_blank" ng-bind="pub.title"></a></p>
            <p ng-bind="pub.description"></p>
            <p class="fa-pull-right publication-date" ng-bind="pub.pubdate | pubDate"></p>

        </div>
    </div>
</div>
<script> 

    app.service("PubService", function () {
        var service = {};
        service.findByTags = function (tags) {
            if (!tags || tags.length == 0) {
                return pubJSON;
            }
            var list = [];
            for (var i = 0; i < pubJSON.length; i++) {
                var p = pubJSON[i];
                var found = false;
                var j = 0;
                while (!found && j < tags.length) {
                    var k = 0;
                    while (!found && k < p.tags.length) {
                        if (p.tags[k].toLowerCase() == tags[j].toLowerCase()) {
                            found = true;
                        }
                        k++;
                    }
                    j++;
                }
                if (found) {
                    list.push(p);
                }
            }
            return list;
        };

        service.search = function (tags, text, year) {
            var list = service.findByTags(tags);
            var text2 = text.toLowerCase().trim();
            if(text2 || year) {                
                var list2 = [];
                for (var i = 0; i < list.length; i++) {
                    var p = list[i];
                    var condText = (text2 && (p.title.toLowerCase().indexOf(text2) >= 0 ||
                        p.description.toLowerCase().indexOf(text2) >= 0 ||
                        p.pubdate.toLowerCase().indexOf(text2) >= 0)) || !text2;
                    var condYear = (year && p.pubdate.toLowerCase().indexOf(year+"") >= 0) || !year;
                    if (condText && condYear) {
                        list2.push(p);
                    }
                }
            } else {
                list2 = list;
            }
            return list2;
        }
        return service;
    });
    var MONTHS = ["gener", "febrer", "març", "abril", "maig", "juny", "juliol", "agost", "setembre", "octubre", "novembre", "desembre"];
    app.filter("pubDate", function(){
        return function(dateStr) {
            if(!dateStr) {
                return "";
            }
            var str = "";
            var parts = dateStr.split("/");
            if(parts.length===3) {
                var mesIndx = parseInt(parts[1]) - 1;
                var mes = MONTHS[mesIndx];
                str = "Publicat dia " + parts[0] + " ";
                if(mes.startsWith("a") || mes.startsWith("o")) {
                    str += "d'" + mes;
                } else {
                    str += "de "+ mes;
                }
                str += " de " + parts[2];
            } else if(parts.length===2) {
                var mesIndx = parseInt(parts[0]) - 1;
                var mes = MONTHS[mesIndx];
                str = "Publicat el mes ";
                if(mes.startsWith("a") || mes.startsWith("o")) {
                    str += "d'" + mes;
                } else {
                    str += "de "+ mes;
                }
                str += " de " + parts[1];
            } else if(parts.length===1) {
                 str = "Publicat l'any " + parts[0];
            }
            return str;
        }
    });
    app.controller("mainController", ["$scope", "PubService", "httpService", function ($scope, PubService, httpService) {
        var now = new Date().getFullYear();
        $scope.years = {
            activaCercaAny: false,
            thisYear: now + 1,
            selectedYear: now
        };
        $scope.pubs = [];
        $scope.searchTags = [
            { name: "Totes", tagList: null },
            { name: "Diagnòstic", tagList: "AD" },
            { name: "Primària", tagList: "1rEP,3rEP,4tEP,5eEP,6eEP,rubriques" },
            { name: "Secundària", tagList: "2nESO,4tESO" },
            { name: "Informes de resultats", tagList: "resultats" },
            { name: "Indicadors SEIB", tagList: "indicadors" },
            { name: "Anuaris", tagList: "anuari" },
            { name: "Documents d'avaluació", tagList: "documents" }
        ];
        $scope.selectedTag = $scope.searchTags[0];
        $scope.searchText = "";
        $scope.listByTag = function (index) { 
            $scope.selectedTag = $scope.searchTags[index];
            $scope.searchText = "";
            var tags = $scope.selectedTag.tagList;
            if($scope.years.activaCercaAny) {
                $scope.pubs = PubService.search(tags ? tags.split(",") : null, $scope.searchText, $scope.years.selectedYear);
            } else {
                $scope.pubs = PubService.search(tags ? tags.split(",") : null, $scope.searchText);
            }
        }
       
        $scope.search = function () {
            var tags = $scope.selectedTag.tagList;
            if($scope.years.activaCercaAny) {
                $scope.pubs = PubService.search(tags ? tags.split(",") : null, $scope.searchText, $scope.years.selectedYear);
            } else {
                $scope.pubs = PubService.search(tags ? tags.split(",") : null, $scope.searchText);
            }
        };
        $scope.keypress = function (keyEvent) {
            if (keyEvent.which === 13) {
                $scope.search();
            }
        };
        $scope.onYearChange = function(clearTagSelection) {
            if($scope.years.activaCercaAny && clearTagSelection) {
                this.searchText = "";
                this.selectedTag = this.searchTags[0];
            }
            var tags = $scope.selectedTag.tagList;
            if($scope.years.activaCercaAny) {
                $scope.pubs = PubService.search(tags ? tags.split(",") : null, $scope.searchText, $scope.years.selectedYear);
            } else {
                $scope.pubs = PubService.search(tags ? tags.split(",") : null, $scope.searchText);
            }
        } 

        httpService.loadSchema("publicacions").then(function(response){
            pubJSON = response.data;
            var goTo = 0;
            var tag = getURLParameter("tag");
            console.log(tag);
            if(tag) {
                try{
                    goTo = parseInt(tag);
                } catch(e){};
            }
            if(goTo>=$scope.searchTags.length) {
               goTo = 0;
            }
            $scope.listByTag(goTo);
        });
    }]);
</script></main>
                </div>
            </div>
                <footer class="py-1" style="width:100%; margin:0" title="Webmaster: Josep Mulet - Version: 6-12-2019">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <p>
                Email. <a href="mailto:iaqse@iaqse.caib.es">iaqse@iaqse.caib.es</a><br>
                Tel. 971 17 78 76 - 
                Fax. 971 17 69 02
            </p>
        </div> 
        <div class="col-sm-6" style="padding-right: 95px;">
            <p style="text-align:right">
                C. del Ter, 16 Edifici A<br>
                07009 - Palma
            </p>
        </div>
    </div>
</div>
</footer>

<a href="#" id="back-to-top" class="btn btn-primary btn-lg" role="button"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>

<script src="iaqse_bundle2.min.js"></script>

<script>
  
    // El nostre servidor no permet carregar svg perquè l'apache no està ben configurat
    // Hack: les carregam per jquery   
    var replaceImgSvg = function(imgID, svgFile) {
        var $img = $(imgID);
        if($img.length) {
            $.ajax({
                type: "GET",
                url: svgFile, 
                contentType: "image/svg+xml;charset=ISO-8859-1", 
                success: function(data){
                    // Replace image with new SVG
                    var $svg = $(data.documentElement);
                    $svg.addClass($img.attr("class"));
                    $img.replaceWith($svg);
                }
        });
 
        }
    };

    $(function(){
        $('#tree1').treed();
        //replaceImgSvg('#svg-brand', '../img/svg/qiaqse2.svg');
        //$("#iaqse-brand").css("display", "");
        replaceImgSvg('#svg-logo-cab', '../img/svg/iaqse-caib-w.svg');
        replaceImgSvg('#logo-iaqse', '../img/svg/logo-iaqse.svg');
    });
    
   
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40778701-3', 'auto');
    ga('send', 'pageview');

</script>
            </div>
            
        </div>

</body>

</html>