<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i></a></li>
<li class="breadcrumb-item"><a href="#">Avaluacions</a></li>
<li class="breadcrumb-item"><a href="#!index">Index</a></li>
<li class="breadcrumb-item active">Avaluacions final d'etapa</li>
</ol>
</nav><!--comboNivell-->
<div class="btn-group" title="Nivell de la prova" style="margin-left:5px">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="nivellCombo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-tags"></i> <span ng-bind="selectedNivell.label"></span></button>
    <div class="dropdown-menu" aria-labelledby="nivellCombo">
        <a class="dropdown-item" ng-click="chooseNivell($index)" ng-repeat="item in nivells"><span ng-bind="item.label"></span></a>
    </div>
</div>
<hr>
<p ng-if="avaluacions.length==0">No s'han trobat avaluacions</p>
<p ng-if="avaluacions.length==1">S'ha trobat una avaluació</p>
<p ng-if="avaluacions.length>1">S'han trobat <span ng-bind="avaluacions.length"></span> avaluacions</p>
<hr>

<!--accordion avaluacions-->
<div id="accordion"> 
    <!--Desplegable amb els seus documents-->
    <div class="card" ng-repeat="ava in avaluacions">
        <div class="card-header" id="heading{{$index}}">
            <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseAva{{$index}}" style="text-decoration:none;border:none;cursor:pointer">
                <i class="fa"></i> <b style="font-size:90%"><span ng-bind="ava.title"></span></b>
            </button>
        </div>

        <div id="collapseAva{{$index}}" class="collapse" data-parent="#accordion" aria-labelledby="heading{{$index}}">
            <!--list documents--> 
            <div class="row" ng-repeat="chk in ava.chunks">
                <div class="col-md-6 list-group-item list-group-item-hover" ng-repeat="doc in chk">
                    <a href="../{{doc.url}}" target="_blank">
                        <img ng-src="../{{doc.img}}" width="60px" class="fa-pull-left" style="margin-right:10px;box-shadow:3px 3px gray">
                        <p style="vertical-align:middle;font-size:90%" ng-bind="doc.title"></p>
                    </a>
                </div>                   
            </div> 
        </div>
    </div>

</div>

<script>var chunker=function(e,l){for(var a=[],n=0,c=e.length;n<c;n+=l)a.push(e.slice(n,n+l));return a};app.controller("finaletapaController",["$scope","httpService",function(t,e){t.avaluacions=[],t.nivells=[{label:"Tots els nivells",value:""},{label:"6è EP",value:"6e"},{label:"4t ESO",value:"4t"}],t.selectedNivell=t.nivells[0],t.chooseNivell=function(e){t.selectedNivell=t.nivells[e],t.search()},t.search=function(){for(var e=[],l=0,a=avaJSON.length;l<a;l++){var n=avaJSON[l],c=n.title.replace("6è","6e");(!t.selectedNivell.value||0<=c.indexOf(t.selectedNivell.value))&&(n.chunks=chunker(n.documents,2),e.push(n))}t.avaluacions=e},e.loadSchema("avaluacions_finaletapa").then(function(e){window.avaJSON=e.data,t.search()})}])</script>