<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i></a></li>
<li class="breadcrumb-item"><a href="#">Ajuda Gesava2</a></li>
<li class="breadcrumb-item active">Aplicadors</li>
</ol>
</nav><button class="btn btn-sm btn-secondary" style="float:right" ng-click="printDiv()">
    <i class="fa fa-print"></i> Imprimir</button>

<div id="print-area">
        <h4 class="d-print-none"><a href="#!index">Gesava2</a> <i class="fa fa-caret-right"></i> Aplicadors </h4>
        <h3 class="d-none d-print-block"> <b>Gesava2 - Aplicadors </b></h3>
<div class="iaqse-contents">
    <h5>Índex de continguts</h5>
    <ol>
        <li><a href ng-click="navigate($event,'section1')">Accés a l'aplicació</a></li>
        <li><a href ng-click="navigate($event,'section2')">Descarregar claus i qüestionari en paper</a>
            <p><a href ng-click="navigate($event,'section21')">2.1 Claus dels alumnes</a><br>
            <a href ng-click="navigate($event,'section22')">2.2 Claus de les famílies</a><br>
            <a href ng-click="navigate($event,'section23')">2.3 Qüestionaris de les famílies en paper</a></p>
        </li> 
        <li><a href ng-click="navigate($event,'section3')">Descarregar fulls d'incidències i respostes</a></li> 
        <li><a href ng-click="navigate($event,'section5')">Introduir respostes d'un qüestionari de família</a></li>
        <li><a href ng-click="navigate($event,'section6')">Introduir respostes d'una prova diagnòstica</a></li>
    </ol>
</div>

<h4 id="section1" class="iaqse-section">1. Accés a l'aplicació</h4>


<p>Per accedir a l'aplicació seguiu les següents passes:</p>

<ul>
    <li>
        <p>Cliqueu sobre la imatge <a href="https://apps.caib.es/gesavafront/" target="_blank">"Accés GESAVA" <img src="../img/gesava.png" style="width:30px;vertical-align:middle"></a>
            de la part superior dreta d'aquesta pantalla.</p>
    </li>

    <li><p>
        Us apareixerà la pàgina d'accés a l'aplicació en la qual heu d'introduir l'usuari i contrasenya que us
        ha proporcionat l'equip directiu del vostre centre. El vostre usuari comença amb les lletres APLI-. Aneu en compte d'escriure exactament els camps, respectant majúscules 
        minúscules i sense deixar espais en blanc.
    </p>
        <div class="row-fluid img-center">
            <img src="../img/gesava2/login-apli.png" class="img-fluid">
        </div>
    </li>

    <li>
        <p>Una vegada validats, us apareixerà la pantalla d'inici d'aplicador on trobareu una taula que 
            conté tots els grups / matèria.
        </p>

        <div class="row-fluid img-center">
                <img src="../img/gesava2/apli-home-logout.png" class="img-fluid">
        </div>
    </li>

    <li><p><b>Molt Important!</b> Recordeu a tancar la sessió pitjant sobre el botó "Desconnecta" quan hagueu acabat.</p>
        
    </li>
</ul>


<h4 id="section2" class="iaqse-section">2. Descarregar claus i qüestionaris en paper</h4>

<h5 id="section21">2.1 Claus dels alumnes</h5>
<ul>
    <li>
        <p>En el cas que els alumnes hagin de realitzar qüestionaris d'alumne, ho faran online. 
            Per això, necessitaran
            disposar d'usuari i clau d'accés a Gesava2. A la taula de grups/matèries, cercau
            la matèria "Qüestionari d'alumne". Si no us apareix aquesta matèria, vol dir que 
            l'avaluació actual no té associat aquests qüestionaris.
        </p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/apli-alumnes.png" class="img-fluid">
        </div>
    </li>
    <li><p>
        Clicau sobre el botó d'un grup per accedir a ell. S'obrirà una pantalla amb el llistat 
        d'alumnes del grup. Anau a la part inferior de la pantalla on trobareu botons d'acció.
        Clicau sobre "Llistat claus continu".
    </p>
    <div class="row-fluid img-center">
            <img src="../img/gesava2/apli-alu-claus.png" class="img-fluid">
    </div>
    <p>Obtindreu un fitxer PDF que podreu imprimir, retallar i repartir als alumnes</p>
    <div class="row-fluid img-center">
            <img src="../img/gesava2/claus-alumnes.png" class="img-fluid">
    </div>
</li>
</ul>
<p></p>


<h5 id="section22">2.2 Claus de les famílies</h5>

<ul>
    <li><p>A la pantalla inicial d'aplicador accediu a cada grup/matèria que tingui per nom
        "Qüestionari famílies". Accediu a la pàgina de cada grup i, a la part inferior de la pàgina,
        trobareu els botons d'acció. Clicau sobre el botó "Llistat claus continu Fam.".
    </p>
    <div class="row-fluid img-center">
            <img src="../img/gesava2/apli-fam-claus.png" class="img-fluid">
    </div></li>
    <li>
    <p>Obtindreu un fitxer PDF que podreu imprimir, retallar i repartir a les famílies dels alumnes</p>
    <div class="row-fluid img-center">
            <img src="../img/gesava2/claus-families.png" class="img-fluid">
    </div>
    </li>
</ul>

<h5 id="section23">2.3 Qüestionaris de les famílies en paper</h5>

<p>S'ha de fomentar que les famílies realitzin el qüestionari online mitjançant els usuaris i
    contrasenyes obtinguts a l'apartat 2.2. No obstant això, si alguna família
    sol·licita poder fer el qüestionari en paper, veurem com descarregar-lo.
</p>
<p>Aneu a la pàgina inicial de l'aplicador. Cercau els grups/matèria amb nom "Qüestionari famílies" i
    accediu a ells. A la part inferior de la pàgina de cada grup trobareu botons d'acció. Cliqueu sobre
    "Baixar qüestionari" i trieu l'idioma que vulgueu.
</p>
<div class="row-fluid img-center">
        <img src="../img/gesava2/apli-baixar-qfam.png" class="img-fluid">
</div>
<p>Obtindreu un PDF amb els qüestionaris de família de tots els alumnes del grup. A l'hora d'imprimir, 
    seleccioneu només les pàgines que necessiteu.
</p>

<div class="row-fluid img-center">
        <img src="../img/gesava2/qfam-paper.png" class="img-fluid">
</div>


<h4 id="section3" class="iaqse-section">3. Descarregar fulls d'incidències i respostes</h4>

<p>
El dia de la prova de cada matèria avaluable, la persona encarregada d'aplicar la prova
necessitarà tenir impresos els fulls de respostes, on els alumnes escriuran les respostes de les preguntes,
i els fulls d'incidències allà on l'aplicador de la prova podrà escriure comentaris de seguiment.</p>

<ul>
    <li><p>Anau a la pàgina inicial de l'aplicador i seleccioneu els grups/matèria que necessiteu. Per exemple,
        clicam sobre la matèria "Competència Matemàtica" del grup A. En la part inferior de la pantalla del
        grup, trobam els botons "Llistat d'incidències" i "Baixar fulls de respostes". Pel cas de la competència 
    matemàtica, els fulls de respostes estan disponibles en dos idiomes.</p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/llista-incidencies.png" class="img-fluid">
        </div>
    </li> 
</ul>

<div class="bg-warning md-center">
    <p>Els fulls de resposta s'han d'imprimir i s'aconsella fer-ho a doble cara. 
         És recomanable que a l'hora d'imprimir seleccioneu l'opció "Ajusta" 
        per evitar que pugui quedar contingut fora dels marges de la pàgina</p>
        <center>
                <img src="../img/gesava2/quadre-impressio.png" style="width:375px">
        </center>  
</div>

<h4 id="section5" class="iaqse-section">5. Introduir respostes d'un qüestionari de família</h4>

<ul>
    <li>
        <p>Des de la pàgina inicial de l'aplicador, trieu el grup/matèria "Qüestionari famílies" i 
            accediu a ell.
        </p>
    </li>

    <li>
        <p>Cerqueu el nom de l'alumne del qual heu d'introduir el qüestionari de família en paper. Cliqueu el botó 
            <img src="../img/gesava2/btn-edita.png" style="height:22px;vertical-align:middle">
        </p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/apli-tria-qfam.png" class="img-fluid">
        </div>
    </li>

    <li><p>Una vegada s'ha carregat la pàgina del qüestionari us demanarà que introduïu l'idioma en què
        s'ha realitzat el qüestionari per poder continuar.</p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/seleccio-idioma-qfam.png" class="img-fluid">
        </div>
    </li>

    <li>
        <p>Una vegada s'han carregat les preguntes, veureu que la primera està activa i apareix remarcada
            amb un fons blau. Basta que pitgeu la tecla de l'opció contestada A, B, C, ... o X si la família 
            no ha contestat aquella pregunta. Aquesta és la forma més ràpida per introduir respostes però, si
            voleu, també podeu anar triant les opcions de cada menú desplegable.
        </p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/editor-qfam.png" class="img-fluid">
        </div>
        <p>És molt important que al final del qüestionari no hagi cap pregunta "en blanc" o sense opció introduïda, sinó
            el programa no us deixarà desar.
        </p>

    </li>

    <li><p>Quan hagueu emplenat la resposta de la darrera pregunta del qüestionari, heu de pitjar
        el botó "Desar i finalitzar". Recordau que una vegada finalitzat, no es permet fer més canvis en el
        qüestionari.
    </p>
    <div class="row-fluid img-center">
            <img src="../img/gesava2/apli-qfam-dif.png" class="img-fluid">
    </div>
    <p>Us apareixerà un diàleg de confirmació en el qual heu de pitjar el botó "Desar i finalitzar" o la tecla INTRO.</p>
    <div class="row-fluid img-center">
            <img src="../img/gesava2/apli-qfam-confirm.png" class="img-fluid">
    </div>
    <p>Si tot ha anat bé, a la part superior dreta de la pantalla veureu un missatge de confirmació</p>
    <div class="row-fluid img-center">
            <img src="../img/gesava2/apli-qfam-ok.png" class="img-fluid">
    </div>

    <p>Si pitjau el botó "Sortir", tornareu al llistat del grup i podreu comprovam com l'estat del 
        qüestionari ha passat a finalitzat. A partir d'ara, es podran consultar aquells qüestionaris que
        tinguin "Origen: APLICADOR" però no permetrà fer més canvis. Els qüestionaris amb "Origen: ONLINE" les
        han contestat les famílies via online però, per privacitat, l'aplicador no en té accés.
    </p>
    <div class="row-fluid img-center">
            <img src="../img/gesava2/apli-qfam-check.png" class="img-fluid">
    </div>
</li>

</ul>



<h4 id="section6" class="iaqse-section">6. Introduir respostes d'una prova diagnòstica</h4>

<p>El procés per introduir les respostes d'una prova diagnòstica és molt semblant a l'explicat a 
    l'apartat anterior. La única diferència és que ara la matèria és avaluable i existeixen preguntes
    obertes en les quals s'ha d'introduir la puntuació.
</p>
 
<ul>
    <li>
        <p>Des de la pàgina inicial de l'aplicador, trieu el grup/matèria que us interessi,
            per exemple, "Competència matemàtica" i accediu a ell.
        </p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/apli-tria-cmat.png" class="img-fluid">
        </div>

        <div class="bg-warning md-center">
            <p>
                Si el vostre centre és mostral, algunes proves seran realitzades per un
                aplicador extern. En tal cas, veureu el text "Mostral" devora el botó d'accés al
                grup/matèria. Això significa que hi teniu accés però només podreu fer consultes.
            </p>
            <div class="row-fluid img-center">
                    <img src="../img/gesava2/apli-amb-mostrals.png" class="img-fluid">
            </div>
        </div>
    </li>

    <li>
        <p>A la columna model apareix el numero de model assignat a cada alumne. Comproveu que no
            hi ha hagut cap canvi en el grup i, en cas que n'hi hagi, modificau el número de model
            mitjançant el menú desplegable.
        </p>
        <p>Cliqueu sobre el botó 
            <img src="../img/gesava2/btn-edita.png" style="height:22px;vertical-align:middle"> del primer
            alumne del grup.
        </p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/apli-tria-cmat2.png" class="img-fluid">
        </div>
    </li>

    <li><p>Una vegada s'ha carregat la pàgina,  si la prova admet més d'un idioma, 
        com per exemple la competència matemàtica,
            caldrà que introduïu l'idioma en què s'ha fet la prova per poder continuar.</p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/seleccio-idioma-cmat.png" class="img-fluid">
        </div>
    </li>

    <li>
        <p>Una vegada s'han carregat les preguntes, veureu que la primera està activa i apareix remarcada
            amb un fons blau.</p>

        <p>Hi ha preguntes obertes i tancades. El menú de les obertes estan remarcades amb color salmó i
         admeten les opcions X, 0, 1, ···. Les tancades admeten opcions X, A, B, C, ···.</p>
            <p>
         Basta que pitgeu la tecla de l'opció contestada A, B, ···, 0, 1, ··· o X si l'alumne ha deixat la pregunta en blanc. 
         Veureu com, una vegada pitjada la tecla, la pregunta activa passa automàticament a la següent.
         Aquesta és la forma més ràpida per introduir respostes però, si
            voleu, també podeu anar triant les opcions de cada menú desplegable.
        </p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/editor-cmat.png" class="img-fluid">
        </div>
        <p>És molt important que al final del qüestionari no hagi cap pregunta "en blanc" o sense opció introduïda, sinó
            el programa no us deixarà desar.
        </p>

    </li>

    <li><p>Quan hagueu emplenat la resposta de la darrera pregunta del qüestionari, heu de pitjar
        el botó "Desar i finalitzar". Recordau que una vegada finalitzat, no es permet fer més canvis a la prova.
    </p>
    <div class="row-fluid img-center">
            <img src="../img/gesava2/apli-cmat-dif.png" class="img-fluid">
    </div>
    <p>Us apareixerà un diàleg de confirmació en el qual heu de pitjar el botó "Desar i finalitzar" o la tecla INTRO.</p>
    <div class="row-fluid img-center">
            <img src="../img/gesava2/apli-qfam-confirm.png" class="img-fluid">
    </div>
    <p>Si tot ha anat bé, a la part superior dreta de la pantalla veureu un missatge de confirmació</p>
    <div class="row-fluid img-center">
            <img src="../img/gesava2/apli-qfam-ok.png" class="img-fluid">
    </div>

    <p>Podeu anar de forma ràpida a l'alumne següent de la llista pitjant sobre el botó 
            <img src="../img/gesava2/btn-seguent.png" style="height:22px;vertical-align:middle">.
        Si pitjau el botó "Sortir", tornareu al llistat del grup i podreu comprovam com l'estat de la
        prova ha passat a finalitzat. Es podran consultar aquelles proves que
        tinguin "Origen: APLICADOR" però no se'n permetrà fer més canvis.  
    </p>
    <div class="row-fluid img-center">
            <img src="../img/gesava2/apli-cmat-check.png" class="img-fluid">
    </div>
</li>

<li>Si algun alumne el grup no ha fet la prova, marcau la columna "Bloquejar".</li>

<li>Quan tots els alumnes del grup tinguin les respostes introduïdes o hagin estat bloquejats,
    el grup passarà a prova/grup "TANCADA".</li>
</ul>





</div>
 <script>app.controller("aplicadorsController",["$scope","$rootScope","$filter","httpService",function(o,t,e,n){o.navigate=function(o,t){o.preventDefault();var e,n=document.getElementById(t);n&&(e=n.offsetTop+100,window.scrollTo(0,e))},o.printDiv=function(){printDocument("print-area","Aplicadors")},n.hit(location.href,"VIEW")}])</script>