  <nav class="navbar navbar-expand-md navbar-dark fixed-top gradient" style="background-color: #003366 !important; height: 65px;">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <div id="svg-brand"></div>
        <span id="iaqse-brand" style="display:none"><b class="d-md-none d-xl-inline" style="color:rgb(255,70,70); font-family: Arial, Helvetica, sans-serif;vertical-align: top;">IAQSE</b></span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% routes.pages.forEach( (page) => {%>
          <li class="nav-item <% if(currentPage == page.url) {%> active <% } %>">
            <a class="nav-link" href="<%=page.url%>.html" title="<%=page.title_long%>"><%=page.title%></span>
            </a>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </nav>

  <div id="logo-cab" class="container-fluid">
    <div class="clearfix">
          <div id="svg-logo-cab" class="logo-left"></div> 
           <div class="logo-right">
             <center>
                <a href="https://apps.caib.es/gesavafront/" target="_blank" title="Programari de gestió d'avaluacions">
                 
                    <img src="../img/gesava.png" style="width:35px"><br>
                    <span style="font-size: 90%">Accés GESAVA</span>
                </a>
              </center>
          </div> 
      </div>
     
  </div>
  