<!DOCTYPE html>
<html lang="ca">
<head>
    <% include head %>
</head>
<body>

<header>
    <% include header %>
</header>

<div id="main-wrap">
    <main ng-app="iaqse">
    </main>
</div>
<% include footer %>
</body>
</html>