     <!-- Modal -->
     <div class="modal fade" id="analyticsModal" tabindex="-1" role="dialog" aria-labelledby="analyticsModalLabel"
     aria-hidden="true">
     <div class="modal-dialog modal-lg" role="document">
             <div class="modal-content">
                     <div class="modal-header">
                             <h5 class="modal-title" id="analyticsModalLabel">Visites</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                     <span aria-hidden="true">&times;</span>
                             </button>
                     </div>
                     <div class="modal-body" style="height: 500px; overflow-y: auto;">
                             <p>Aquest document s'ha visitat en total <span
                                             ng-bind="modalVisualizations.length"></span> vegades</p>
                             <table class="table table-bordered">
                                     <thead>
                                             <th>Data</th>
                                             <th>IP</th>
                                             <th>Long.</th>
                                             <th>Lat.</th>
                                             <th>Municipi</th>
                                     </thead>
                                     <tbody>
                                             <tr ng-repeat="visit in modalVisualizations">
                                                     <td><span ng-bind="visit.FECHA"></span></td>
                                                     <td><span ng-bind="visit.IP"></span></td>
                                                     <td><span ng-bind="visit.LONGITUDE"></span></td>
                                                     <td><span ng-bind="visit.LATITUDE"></span></td>
                                                     <td><span ng-bind="visit.CITY"></span></td>
                                             </tr>
                                     </tbody>
                             </table>
                             </tbody>
                     </div>
                     <div class="modal-footer">
                             <button type="button" class="btn btn-secondary"
                                     data-dismiss="modal">Tancar</button>
                     </div>
             </div>
     </div>
</div>


<div>
     <span class="filtrau">Filtrau per </span>
    <!--Tipus d'enllaç-->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false" style="white-space: normal;">
          <span ng-bind="selectedType.type"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% enllacos.forEach( (groupType, i) => { %>
                <a class="dropdown-item" ng-click="chooseType(<%=i%>);" style="cursor: pointer;">
                    <%=groupType.type%>
                </a>
            <% }) %>
        </div>
    </div> 
    <hr />
    <p ng-if="selectedType.length==0">No s'han trobat enllaços</p>
    <p ng-if="selectedType.length==1">S'ha trobat un enllaç</p>
    <p ng-if="selectedType.length>1">S'han trobat <span ng-bind="selectedType.length"></span> enllaços</p>
    <hr />

    <div ng-if="selectedType!=null" class="container-fluid">
         
        <div class="row" ng-repeat="chk in selectedType.list">
        <div class="list-group-item list-group-item-hover col-md-6" ng-repeat="pub in chk">           
            <div class="fa-pull-left"> 
                <a href="{{pub.url}}" title="{{pub.url_title}}" target="_blank" track-type="LINK"> 
                      <img ng-src="../{{pub.img}}" title="{{pub.img_title}}" class="enllacos-img"/>               
                </a>
            </div>            
            <span ng-if="pub.hits!=null" style="font-size: 105%;" class="badge badge-secondary badge-cursor" ng-bind="pub.hits"
            title="{{pub.hits_title}}" ng-click="loadVisualizations(pub)" data-toggle="modal" data-target="#analyticsModal"></span>                         
            <a href="{{pub.url}}" title="{{pub.url_title}}" target="_blank" track-type="LINK"> 
                 <p  class="enllacos-title" ng-bind="pub.description"></p>
            </a>         
        </div> 
        </div>

    </div>
    </div>
    <script> 
        app.controller("mainController", ["$scope","$rootScope", "$filter", "httpService", 
            function($scope, $rootScope, $filter, httpService){
            $scope.chooseType = function(i) {
                $scope.selectedType = {
                    type: window.enllacosJSON[i].type,
                    length: window.enllacosJSON[i].list.length,
                    list: chunker(window.enllacosJSON[i].list, 2)
                };
            };
            httpService.loadSchema("enllacos").then(function(response){
                enllacosJSON = response.data;
                $scope.chooseType(0);      
                
                <% if(config.remoteURL) { %>
                    $scope.updateAnalyticsInfo(localStorage.getItem("iaqse-sessionId"));
                <% } %>
                    
            });
            
            <% if(config.remoteURL) { %>
            httpService.hit(location.href, "PAGE");
            $scope.updateAnalyticsInfo = function (sessionId) {
                if (sessionId != "") {
                    httpService.listDocumentVisitCount(sessionId, "LINK").then(function (res) {
                        $scope.addAnalyticsInfo(res.data);
                        $scope.chooseType(0);      
                    }, function () {
                        $scope.removeAnalyticsInfo();
                        $scope.chooseType(0);      
                    });
                } else {
                    $scope.removeAnalyticsInfo();
                    $scope.chooseType(0);      
                }
            };
            
            $scope.updateAnalyticsInfo = function (sessionId) {
                if (sessionId != "") {
                    httpService.listDocumentVisitCount(sessionId, "LINK").then(function (res) {
                        $scope.addAnalyticsInfo(res.data);
                        $scope.chooseType(0);      
                    }, function () {
                        $scope.removeAnalyticsInfo();
                        $scope.chooseType(0);      
                    });
                } else {
                    $scope.removeAnalyticsInfo();
                    $scope.chooseType(0);      
                }
            };

            $scope.addAnalyticsInfo = function (data) {
                for (var i = 0, len = enllacosJSON.length; i < len; i++) {
                    var ava = enllacosJSON[i];
                    for(var k=0, len3= ava.list.length; k<len3; k++) {
                    var pub = ava.list[k];
                    pub.hits = 0;
                    for (var j = 0, len2 = data.length; j < len2; j++) {
                        var url = data[j].URL;
                        if (pub.url.toLowerCase().indexOf(url) >= 0) {
                            pub.hits = data[j].count;
                            var date = new Date(data[j].LAST_ACCESS);
                            pub.hits_title = "Darrer accés " + $filter('date')(date, 'dd/MM/yyyy HH:mm:ss');
                            break;
                        }
                    }
                    }
                }
            };

            $scope.removeAnalyticsInfo = function() {
                for (var i = 0, len = enllacosJSON.length; i < len; i++) {
                    var ava = enllacosJSON[i];
                    for(var k=0, len3= ava.list.length; k<len3; k++) {
                        var pub = ava.list[k];
                        pub.hits = null;
                        pub.hits_title = null;
                    }
                }            
            };

            $scope.loadVisualizations = function(pub){
                httpService.loadVisualizations($scope.sessionId, pub.url).then(function(res){
                    $scope.modalVisualizations = res.data;
                }, function(){
                    $scope.modalVisualizations = [];
                });
            };
            <% } %>


        }]);
    </script>