<style>
    .iaqse-contents {
        background: whitesmoke;
        border: 1px solid lightblue;
        box-shadow: 2px 2px lightgray;
        margin: 30px;
        padding: 15px;
        width: 98%;
    }
    .iaqse-section {
        width: 98%;
        border-bottom: 1px solid lightblue;
        margin: 30px 0 30px 0;
    }
    .img-center {
        max-width: 600px !important;
        margin: 30px auto !important;
    }
    .video-center {
        max-width: 800px !important; 
        margin: 30px auto !important;
    }
</style>
<!--inject views here-->
<div ng-view id="routedContent"></div>

<script>
    app.controller("mainController", ["$scope", "httpService", function($scope, httpService){
        httpService.hit(location.href, "PAGE");
    }]);
</script>