<div>
    <span class="filtrau">Filtrau per </span>
    <div class="btn-group" role="group" aria-label="Tipus d'indicador">
        <button type="button" class="btn" ng-click="select(menuItem)"
            ng-class="menuItem.selected?'btn-primary':'btn-secondary'" ng-repeat="menuItem in menuItems">
            <span ng-bind="menuItem.label"></span>
        </button>
    </div>

    <hr />
    <p ng-if="pubslength==0">No s'han trobat indicadors</p>
    <p ng-if="pubslength==1">S'ha trobat un indicador</p>
    <p ng-if="pubslength>1">S'han trobat <span ng-bind="pubslength"></span> indicadors</p>
    <hr />

    <div class="list-group">
        <div class="row" ng-repeat="chunk in pubs">
            <div class="col-md-6 list-group-item list-group-item-hover" ng-repeat="pub in chunk">
                <div style="display: flex; align-items: center;">
                    <div style="width: 150px; float: left;">
                        <i ng-if="pub.destacat" class="fa fa-star"></i>
                        <a href="../{{pub.url}}" target="_blank">
                            <img ng-src="../{{pub.img}}" class="publication-img" />
                        </a>
                    </div>
                    <div style="float: left;">
                        <p><span ng-if="pub.hits!=null" style="font-size: 105%;" class="badge badge-secondary" ng-bind="pub.hits"
                            title="{{pub.hits_title}}"></span>
                            <a href="../{{pub.url}}" target="_blank" ng-bind="pub.title"></a></p>
                        <p ng-bind="pub.description"></p>
                        <p class="fa-pull-right publication-date" ng-bind="pub.pubdate"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    app.controller("mainController", ["$scope", "$rootScope", "httpService", "$filter",
         function ($scope, $rootScope, httpService, $filter) {

        $scope.pubs = [];
        $scope.pubslength = 0;

        $scope.menuItems = [
            { label: "Sistema educatiu IB", value: "ISEIB", selected: true },
            { label: "Resultats acadèmics", value: "RESULTATS", selected: false },
        ];

        $scope.select = function (item) {
            for (var i = 0, len = $scope.menuItems.length; i < len; i++) {
                $scope.menuItems[i].selected = false;
            }
            item.selected = true;
            $scope.display();
        };

        $scope.display = function () {
            var list = [];
            for (var i = 0, len = indicadorsJSON.length; i < len; i++) {
                var pub = indicadorsJSON[i];
                var show = true;
                for (var k = 0, len2 = $scope.menuItems.length; k < len2; k++) {
                    if ($scope.menuItems[k].selected) {
                        show &= pub.tag == $scope.menuItems[k].value;
                    }
                }
                if (show) {
                    list.push(pub);
                }
            }
            $scope.pubslength = list.length;
            $scope.pubs = chunker(list, 2);
        };

         // S'ha produit un canvi en l'estat de la sessió
         $rootScope.$on("iaqse-sessionId", function (evt, sessionId) {
                $scope.updateAnalyticsInfo(sessionId);
        });

        httpService.loadSchema("indicadors").then(function (response) {
            indicadorsJSON = response.data;
            $scope.display();
            <% if(config.remoteURL) { %>
                $scope.updateAnalyticsInfo(localStorage.getItem("iaqse-sessionId"));
            <% } %>
        });
        

        <% if(config.remoteURL) { %>
            httpService.hit(location.href, "PAGE");
           

            $scope.updateAnalyticsInfo = function (sessionId) {
                if (sessionId != "") {
                    httpService.listDocumentVisitCount("DOC", sessionId).then(function (res) {
                        $scope.addAnalyticsInfo(res.data);
                        $scope.display();
                    }, function () {
                        $scope.removeAnalyticsInfo();
                        $scope.display();
                    });
                } else {
                    $scope.removeAnalyticsInfo();
                    $scope.display();
                }
            };

            $scope.addAnalyticsInfo = function (data) {
                for (var i = 0, len = indicadorsJSON.length; i < len; i++) {
                    var pub = indicadorsJSON[i];
                    pub.hits = 0;
                    for (var j = 0, len2 = data.length; j < len2; j++) {
                        var url = data[j].URL;
                        if (pub.url.toLowerCase().indexOf(url) >= 0) {
                            pub.hits = data[j].count;
                            var date = new Date(data[j].LAST_ACCESS);
                            pub.hits_title = "Darrer accés " + $filter('date')(date, 'dd/MM/yyyy HH:mm:ss');
                            break;
                        }
                    }
                }
            };

            $scope.removeAnalyticsInfo = function() {
                for (var i = 0, len = indicadorsJSON.length; i < len; i++) {
                    var pub = indicadorsJSON[i];
                    pub.hits = null;
                    pub.hits_title = null;
                }
            }
            <% } %>

        
    }]);
</script>