<!--inject views here-->
<div ng-view id="routedContent"></div>

<script>
    app.controller("mainController", ["$scope", "httpService", function($scope, httpService){
        httpService.hit(location.href, "PAGE");
    }]);
 
</script>
