<!--s'obre en una pantalla separada empra el template prova-->
<!--passam la prova al component-->
<a href="proves.html#!/interactives" style="float: right;" class="btn btn-sm btn-warning"><i class="fa fa-times"></i>
        Tancau la prova</a>
<div id="mainController" ng-controller="mainController">
        <iaqse-prova prova="prova" ng-if="prova!=null"></iaqse-prova>

        <div ng-if="mostraError" class="alert alert-danger">
                <h5>:-( S'ha produït un error</h5>
                <p>No s'ha trobat la prova amb identificador id={{id}}</p>
                <a href="proves.html#!/interactives" class="btn btn-sm btn-warning">Tornau a proves</a>
        </div>
</div>
<script>
        /**
        * Shuffles array in place.
        * @param {Array} a items An array containing the items.
        */
        var shuffleArray = function (a) {
                var j, x, i;
                for (i = a.length - 1; i > 0; i--) {
                        j = Math.floor(Math.random() * (i + 1));
                        x = a[i];
                        a[i] = a[j];
                        a[j] = x;
                }
                return a;
        }

        app.component("iaqseProva", {
                templateUrl: "iaqse-prova.html",
                bindings: {
                        prova: "<"
                },
                controller: function () {
                        var ctrl = this;
                        // Aquest listener escolta canvis de "prova" (només s'en produirà un. Quan es carregui la prova per http)
                        ctrl.indexEstimul = 0;
                        ctrl.indexPregunta = 0;
                        ctrl.numEstimuls = 0;
                        ctrl.numPreguntes = 0;
                        ctrl.$onChanges = function (changes) {
                                ctrl.reset();
                        };
                        // Mou a l'estimul anterior o següent
                        ctrl.backEstimul = function () {
                                if (ctrl.indexEstimul > 0) {
                                        ctrl.indexEstimul--;
                                        ctrl.estimulSelected = ctrl.prova.estimuls[ctrl.indexEstimul];
                                        // Per defecte, quan canviam d'estimul, anam a la pregunta 0  de l'estimul
                                        ctrl.indexPregunta = 0;
                                        ctrl.preguntaSelected = ctrl.estimulSelected.preguntes[ctrl.indexPregunta];
                                        return true;
                                }
                                return false;
                        };
                        ctrl.nextEstimul = function () {
                                if (ctrl.indexEstimul < ctrl.prova.estimuls.length - 1) {
                                        ctrl.indexEstimul++;
                                        ctrl.estimulSelected = ctrl.prova.estimuls[ctrl.indexEstimul];
                                        // Per defecte, quan canviam d'estimul, anam a la pregunta 0 de l'estimul
                                        ctrl.indexPregunta = 0;
                                        ctrl.preguntaSelected = ctrl.estimulSelected.preguntes[ctrl.indexPregunta];
                                        return true;
                                }
                                return false;
                        };
                        // Mou a la pregunta anterior o posterior, pot suposar un canvi d'estimul
                        ctrl.backPregunta = function () {
                                if (ctrl.indexPregunta > 0) {
                                        // Ens mantenim en el mateix estimul, només canviam la pregunta
                                        ctrl.indexPregunta--;
                                        ctrl.preguntaSelected = ctrl.estimulSelected.preguntes[ctrl.indexPregunta];
                                } else {
                                        // Intenta anar a l'estimul anterior
                                        if (ctrl.backEstimul()) {
                                                // Hem anat a l'estimul anterior, però cal posar-se a la darrera pregunta
                                                ctrl.indexPregunta = ctrl.estimulSelected.preguntes.length - 1;
                                                ctrl.preguntaSelected = ctrl.estimulSelected.preguntes[ctrl.indexPregunta];
                                        }
                                }
                        };
                        ctrl.nextPregunta = function () {
                                if (ctrl.indexPregunta < ctrl.estimulSelected.preguntes.length - 1) {
                                        // Ens mantenim en el mateix estimul
                                        ctrl.indexPregunta++;
                                        ctrl.preguntaSelected = ctrl.estimulSelected.preguntes[ctrl.indexPregunta];
                                } else {
                                        // Intenta anar a l'estimul següent
                                        ctrl.nextEstimul(0);
                                }
                        };

                        ctrl.gotoPregunta = function (indexEstimul, indexPregunta) {
                                // Ha de canviar els indexos
                                ctrl.indexEstimul = indexEstimul;
                                ctrl.indexPregunta = indexPregunta;
                                ctrl.estimulSelected = ctrl.prova.estimuls[indexEstimul];
                                ctrl.preguntaSelected = ctrl.estimulSelected.preguntes[indexPregunta];
                        };

                        ctrl.gotoPreguntaReview = function (indexEstimul, indexPregunta) {
                                ctrl.estimulReview = ctrl.prova.estimuls[indexEstimul];
                                ctrl.preguntaReview = ctrl.estimulReview.preguntes[indexPregunta];
                        };

                        ctrl.styleClassPregunta = function (pregunta) {
                                // no contestada gray
                                // contestada blue (pendent de correccio)
                                // contestada/correcte green
                                // contestada/incorrecte red

                                var styleClazz = "btn-secondary";
                                if (pregunta.answer != null) {
                                        styleClazz = "btn-primary";
                                        if (pregunta.esCorrecta != null) {
                                                if (pregunta.esCorrecta) {
                                                        styleClazz = "btn-success";
                                                } else {
                                                        styleClazz = "btn-danger";
                                                }
                                        }
                                }
                                return styleClazz;
                        };

                        ctrl.reset = function () {
                                var prova = ctrl.prova;
                                ctrl.estatProva = 0;     //sense iniciar
                                ctrl.progressPercent = 0; // percentatge
                                if (prova) {
                                        ctrl.numEstimuls = prova.estimuls.length;
                                        // Quan es carrega una prova, estableix el primer estimul
                                        ctrl.indexEstimul = 0;
                                        ctrl.indexPregunta = 0;
                                        ctrl.estimulSelected = prova.estimuls[ctrl.indexEstimul];
                                        ctrl.preguntaSelected = ctrl.estimulSelected.preguntes[ctrl.indexPregunta];

                                        // Cal afegir a cada pregunta el seu numero
                                        // Comptar quantes preguntes hi ha en total  ctrl.numPreguntes
                                        // I fer un shuffle en les opcions de resposta
                                        var numero = 1;
                                        for (var i = 0, len = prova.estimuls.length; i < len; i++) {
                                                var estimul = prova.estimuls[i];
                                                for (var j = 0, len2 = estimul.preguntes.length; j < len2; j++) {
                                                        var preg = estimul.preguntes[j];
                                                        preg.numero = numero;
                                                        numero++;

                                                        // Elimina en cas que en tingui respostes
                                                        preg.answer = null;
                                                        preg.esCorrecta = null;

                                                        if (preg.opcions) {
                                                                var respostaCorrecta = preg.opcions[preg.ordre - 1];
                                                                preg.opcions = shuffleArray(preg.opcions);
                                                                preg.ordre = preg.opcions.indexOf(respostaCorrecta);
                                                        }

                                                }
                                        }
                                        ctrl.numPreguntes = numero - 1;

                                }
                        }

                        ctrl.updateProgress = function () {
                                var numAnswered = 0;
                                for (var i = 0, len = ctrl.prova.estimuls.length; i < len; i++) {
                                        var estimul = ctrl.prova.estimuls[i];
                                        for (var j = 0, len2 = estimul.preguntes.length; j < len2; j++) {
                                                var pregunta = estimul.preguntes[j];
                                                if (pregunta.answer != null &&
                                                        (typeof (pregunta.answer) == "number" ||
                                                                (typeof (pregunta.answer) == "string" && pregunta.answer.trim().length > 0))) {
                                                        numAnswered++;
                                                }
                                        }
                                }
                                if (numAnswered === 0) {
                                        ctrl.progressPercent = 0;
                                } else {
                                        ctrl.progressPercent = (100 * numAnswered / ctrl.numPreguntes).toFixed(0);
                                }
                        };

                        ctrl.corregirProva = function () {
                                var numCorrectes = 0;
                                for (var i = 0, len = ctrl.prova.estimuls.length; i < len; i++) {
                                        var estimul = ctrl.prova.estimuls[i];
                                        for (var j = 0, len2 = estimul.preguntes.length; j < len2; j++) {
                                                var pregunta = estimul.preguntes[j];
                                                if (pregunta.answer != null) {
                                                        if (pregunta.opcions != null) {
                                                                pregunta.esCorrecta = (pregunta.ordre == pregunta.answer);
                                                        } else {
                                                                if (pregunta.tolerance != null) {
                                                                        // Convertim la resposta a float
                                                                        try {
                                                                                var floatAnswer = parseFloat(pregunta.answer.replace(",", "."));
                                                                                pregunta.esCorrecta = Math.abs(floatAnswer - pregunta.ordre) <= pregunta.tolerance;
                                                                        } catch (ex) {
                                                                                pregunta.esCorrecta = false;
                                                                        }
                                                                } else {
                                                                        pregunta.esCorrecta = (pregunta.ordre == pregunta.answer);
                                                                }
                                                        }
                                                        if (pregunta.esCorrecta) {
                                                                numCorrectes++;
                                                        }
                                                }
                                        }
                                }
                                ctrl.estatProva = 2;  // acabada
                                ctrl.estimulReview = null;
                                ctrl.preguntaReview = null;
                                ctrl.puntuacio = (100 * numCorrectes / ctrl.numPreguntes).toFixed(0);
                        };
                }
        });
        app.component("iaqseEstimul", {
                templateUrl: "iaqse-estimul.html",
                bindings: {
                        estimul: "<",
                        question: "<"
                },
                require: {
                        provaCtrl: "^^iaqseProva"    // Li pasam el controlador pare
                },
                controller: ["$rootScope", function ($rootScope) {
                        var ctrl = this;

                        // Aquest listener escolta a canvis en l'atribut estimul o en l'index de la pregunta que es produiran freqüentment
                        this.$onChanges = function (changes) {
                                ctrl.preguntaSelected = this.question;
                                ctrl.numPreguntes = ctrl.provaCtrl.numPreguntes;
                                ctrl.estatProva = ctrl.provaCtrl.estatProva;
                                $rootScope.$emit("katex-update");
                        };

                        this.check = function () {
                                ctrl.provaCtrl.corregirProva();
                        }

                        ctrl.updateProgress = function () {
                                ctrl.provaCtrl.updateProgress();
                        };
                }]
        });
        app.component("iaqsePregunta", {
                templateUrl: "iaqse-pregunta.html",
                bindings: {
                        pregunta: "<"
                },
                require: {
                        estimulCtrl: "^^iaqseEstimul"    // Li pasam el controlador pare
                },
                controller: ["$rootScope", function ($rootScope) {
                        var ctrl = this;
                        ctrl.$onChanges = function (changes) {
                                ctrl.numPreguntes = ctrl.estimulCtrl.numPreguntes;
                                ctrl.estatProva = ctrl.estimulCtrl.estatProva;
                                $rootScope.$emit("katex-update");
                        };
                        ctrl.updateProgress = function () {
                                ctrl.estimulCtrl.updateProgress();
                        };
                }]
        });
        app.controller("mainController", ["$scope", "$rootScope", "httpService",
                function ($scope, $rootScope, httpService) {
                        // Exemple que s'ha de carrega d'una base de dades json...
                        $scope.prova = null;
                        // Determina la id de la prova interactiva de la query
                        var id = getURLParameter("id");
                        var lang = getURLParameter("lang");
                        $scope.id = id;
                        if (id) {
                                httpService.loadSchema("proves_interactives").then(function (response) {
                                        proves = response.data;
                                        var prova = null;
                                        try {
                                                id = parseInt(id);
                                        } catch (e) { }
                                        if (id > 0 && id <= proves.length) {
                                                prova = proves[id - 1];
                                        }

                                        if (prova == null) {
                                                $scope.mostraError = true;
                                        } else if (prova.contingut) {
                                                // prova.contingut pot ésser un objecte segons idioma
                                                var nomJSON = "";
                                                if (typeof (prova.contingut) == "string") {
                                                        nomJSON = prova.contingut;
                                                } else if (Array.isArray(prova.contingut) && lang) {
                                                        for (var i = 0, len = prova.contingut.length; i < len; i++) {
                                                                var item = prova.contingut[i];
                                                                if (item.lang == lang) {
                                                                        nomJSON = item.file;
                                                                        break;
                                                                }
                                                        }
                                                } else {
                                                        $scope.mostraError = true;
                                                }

                                                var rutaImatges = "src=\"../proves_interactives/" + nomJSON + "/";
                                                // Carrega ara el contingut de la prova que es troba en un altre json
                                                console.log("Carregant " + nomJSON);
                                                httpService.loadSchema(nomJSON).then(function (response2) {
                                                        prova.estimuls = response2.data;
                                                        // Atenció cal reemplaçar totes les rutes a src=" per la ruta adient
                                                        // Atenció cal reemplaçar arrays per .join()
                                                        console.log("S'ha carregat: " + prova);
                                                        for (var i = 0, len = prova.estimuls.length; i < len; i++) {
                                                                var estimul = prova.estimuls[i];
                                                                if (Array.isArray(estimul.estimul_body)) {
                                                                        estimul.estimul_body = estimul.estimul_body.join(" ");
                                                                }
                                                                estimul.estimul_body = estimul.estimul_body.replace(/src=\"/ig, rutaImatges);
                                                                for (var j = 0, len2 = estimul.preguntes.length; j < len2; j++) {
                                                                        var preg = estimul.preguntes[j];
                                                                        if (Array.isArray(preg.enunciat)) {
                                                                                preg.enunciat = preg.enunciat.join(" ");
                                                                        }
                                                                        preg.enunciat = preg.enunciat.replace(/src=\"/ig, rutaImatges);
                                                                }
                                                        }

                                                        console.log(prova)
                                                        $scope.prova = prova;
                                                }, function (err) {
                                                        console.log("Hi ha hagut un problema carregant la definició de la prova. Prova corrupta!: " + err);
                                                        $scope.mostraError = true;
                                                });
                                        }
                                });
                        } else {
                                $scope.mostraError = true;
                        }
                        $(function(){ 
                                var $element = $("#mainController")[0];
                                $rootScope.$on("katex-update", function () {
                                        renderMathInElement($element, {
                                                delimiters: [
                                                        { left: "$", right: "$", display: false },
                                                        { left: "\\(", right: "\\)", display: false },
                                                        { left: "\\[", right: "\\]", display: true }
                                                ]
                                        });
                                });
                        });

                }]);
        app.filter("toLetter", function () {
                return function (index) {
                        return String.fromCharCode(65 + index) + ") ";
                };
        });
</script>

<script type="text/ng-template" id="iaqse-prova.html">

        <h4 ng-bind-html="$ctrl.prova.title"></h4>

        <!--mostra les instruccions-->
        <div ng-if="$ctrl.estatProva==0">
                <center><h5 style="font-weight:800; color:white; background: brown;">Instruccions</h5></center>
                <div style="margin:20px; border:1px solid gray; background:#f2dbda;padding:20px;font-size:110%">
                        <div ng-bind-html="$ctrl.prova.instruccions"></div>
                </div>
 
                <div style="margin:auto; text-align:center;">
                <button class="btn btn-primary" ng-click="$ctrl.estatProva=1;"><i class="fa fa-arrow-circle-right"></i> Començar la prova</button>
                </div>
        </div>
        

        <div ng-if="$ctrl.estatProva==1 || $ctrl.estatProva==3">
        <div style=" border: 1px solid gray;  width: 100%">
                        <!--
                        <button style="float:left" class="btn btn-success" ng-click="$ctrl.corregirProva()"><i class="fa fa-check"></i> Corregeix la prova</button>    
                        -->        
                        <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{$ctrl.progressPercent}}%;" aria-valuenow="0" 
                                aria-valuemin="0" aria-valuemax="100">{{$ctrl.progressPercent}}%</div>
                        </div>
        </div> 
        <div style="border: 1px solid grey; margin-bottom: 10px; text-align: center; margin: auto">
                <!--
                <button style="float:left" class="btn btn-sm btn-secondary" ng-click="$ctrl.backEstimul()"
                ng-disabled="$ctrl.indexEstimul < 1"><i class="fa fa-backward"></i> Anterior</button>
                -->
                <span style="font-size: 120%"><b>Situació <span ng-bind="$ctrl.indexEstimul+1"></span></b></span>
                <!--
                <button style="float:right" class="btn btn-sm btn-secondary" ng-click="$ctrl.nextEstimul()"
                ng-disabled="$ctrl.indexEstimul > $ctrl.numEstimuls -1"> Següent <i class="fa fa-forward"></i></button>
                -->
        </div>
        <!--quan carreguis l'estimul, mostra la pregunta question d'aquest estimul -->
        <iaqse-estimul estimul="$ctrl.estimulSelected" question="$ctrl.preguntaSelected"></iaqse-estimul>
        
        <br><br>
        <!--botonera-->
        <button class="btn btn-secondary" ng-click="$ctrl.backPregunta()"
        ng-disabled="$ctrl.preguntaSelected.numero<=1"><i class="fa fa-chevron-left"></i> Pregunta anterior</button>
        <button class="btn btn-secondary" ng-click="$ctrl.nextPregunta()"
        ng-disabled="$ctrl.preguntaSelected.numero>$ctrl.numPreguntes-1">Pregunta següent <i class="fa fa-chevron-right"></i></button>
        <button class="btn btn-success" ng-click="$ctrl.corregirProva()"
        ng-if="$ctrl.preguntaSelected.numero==$ctrl.numPreguntes && $ctrl.estatProva==1"
        ng-disabled="$ctrl.progressPercent==0"><i class="fa fa-check"></i> Acabar i corregir</button>
       
        <!--nav-bar-->
        <!--
        <br><br>
        <div>
                <div ng-repeat="estimul in $ctrl.prova.estimuls" style="display: inline-block">
                        <div ng-repeat="pregunta in estimul.preguntes" style="display: inline-block; vertical-align: top">
                                <div style="text-align: center">
                                <button class="btn btn-sm" ng-class="$ctrl.styleClassPregunta(pregunta)" style="width: 36px"
                                ng-click="$ctrl.gotoPregunta($parent.$index, $index)">
                                        <span ng-bind="pregunta.numero"></span>        
                                </button>
                                <br>
                                <span ng-if="pregunta.numero == $ctrl.preguntaSelected.numero"><i class="fa fa-arrow-up"></i></span>
                                <span ng-if="pregunta.numero != $ctrl.preguntaSelected.numero"> </span>
                                </div>
                        </div>
                </div>
        </div>
        -->
        </div>  

        <!--Prova acabada-->
        <div ng-if="$ctrl.estatProva==2">
                <h5>Prova acabada - Puntuació <span ng-bind="$ctrl.puntuacio"></span>%</h5>
                <div>
                        <div ng-repeat="estimul in $ctrl.prova.estimuls" style="display: inline-block">
                                        <div ng-repeat="pregunta in estimul.preguntes" style="display: inline-block; vertical-align: top">
                                                <div style="margin:auto; text-align: center;">
                                                <button class="btn" ng-class="$ctrl.styleClassPregunta(pregunta)" style="width: 36px"
                                                ng-click="$ctrl.gotoPreguntaReview($parent.$index, $index)">
                                                        <span ng-bind="pregunta.numero"></span>        
                                                </button>
                                                <br>
                                                <span ng-if="pregunta.numero == $ctrl.preguntaSelected.numero"><i class="fa fa-arrow-up"></i></span>
                                                <span ng-if="pregunta.numero != $ctrl.preguntaSelected.numero"> </span>
                                                </div>
                                        </div>
                        </div>
                        <button ng-if="$ctrl.estimulReview!=null && $ctrl.preguntaReview!=null" style="float: right; margin-top: 60px"
                        class="btn btn-sm btn-danger" title="Tancau la previsualització" ng-click="$ctrl.estimulReview=null;"><i class="fa fa-times"></i></button> 
                        <div ng-if="$ctrl.estimulReview!=null && $ctrl.preguntaReview!=null">
                                <iaqse-estimul estimul="$ctrl.estimulReview" question="$ctrl.preguntaReview"></iaqse-estimul>
                        </div>
                </div>
                
                <button class="btn btn-primary" ng-click="$ctrl.reset()"><i class="fa fa-redo"></i> Tornau a començar</button> 
        </div>
</script>

<script type="text/ng-template" id="iaqse-estimul.html">
        <div class="row">
                <div class="col-md-6">
                        <div style="background: #f2dbda; margin:20px; border:1px solid gray; padding:20px;font-size:110%">
                                <center>
                                <h4 style="background: brown; font-weight:800; color:white; border-radius: 5px" ng-bind-html="$ctrl.estimul.estimul"></h4>
                                <div ng-bind-html="$ctrl.estimul.estimul_body"></div>
                                </center>
                        </div>      
                </div>
                <div class="col-md-6">
                        <br>
                        <iaqse-pregunta pregunta="$ctrl.preguntaSelected"></iaqse-pregunta>
                </div>
        </div>
</script>

<script type="text/ng-template" id="iaqse-pregunta.html">
        <h5>
                <span ng-if="$ctrl.pregunta.esCorrecta!=null">
                                        <span style="color:green" ng-if="$ctrl.pregunta.esCorrecta"><i class="fa fa-check"></i></span>
                                        <span style="color:red" ng-if="!$ctrl.pregunta.esCorrecta"><i class="fa fa-times"></i></span>
                </span>
                <span style="font-weight:800;"> Pregunta
        <span ng-bind="$ctrl.pregunta.numero"></span> / <span ng-bind="$ctrl.numPreguntes"></span>.</h5>
        <span style="font-size: 110%" ng-bind-html="$ctrl.pregunta.enunciat"></span> 
        <div class="form-check" ng-repeat="opt in $ctrl.pregunta.opcions" ng-if="$ctrl.pregunta.opcions!=null">
            <input class="form-check-input" type="radio" ng-model="$ctrl.pregunta.answer" ng-value="$index" ng-change="$ctrl.updateProgress()"
            ng-disabled="$ctrl.estatProva!=1"/>  
            <label class="form-check-label">
            <span style="font-size:110%">{{$index | toLetter}}
            <span ng-bind-html="opt"></span> 
            </span>     
            </label>
        </div>     
        <div ng-if="$ctrl.pregunta.opcions==null">
                <input class="form-control" type="text" ng-model="$ctrl.pregunta.answer" ng-blur="$ctrl.updateProgress()"
                ng-disabled="$ctrl.estatProva!=1"/>                  
        </div>                                               
</script>