
<div class="row" style="text-align: center;">
    <div class="col-md-4 col-sm-6">
        <a href="#!alu">
        <div class="card card-menu bg-primary">
            <div class="card-body">
                <h5 class="card-title">Alumnat</h5> 
            </div>
        </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="#!fam">
        <div class="card card-menu bg-primary">
            <div class="card-body">
                <h5 class="card-title">Famílies</h5>
 
            </div>
        </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="#!prof">
        <div class="card card-menu bg-info">
            <div class="card-body">
                <h5 class="card-title">Professorat</h5> 
            </div>
        </div>
        </a>
    </div>
</div> 
<div class="row" style="text-align: center;">
        <div class="col-md-4 col-sm-6">
            <a href="#!dir">
            <div class="card card-menu bg-success">
                <div class="card-body">
                    <h5 class="card-title">Directors</h5> 
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="#!apli">
            <div class="card card-menu bg-warning">
                <div class="card-body">
                    <h5 class="card-title" style="color:black">Aplicadors de centre</h5>
     
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="#!apli-mostral">
            <div class="card card-menu bg-warning">
                <div class="card-body">
                    <h5 class="card-title" style="color:black">Aplicadors mostrals</h5> 
                </div>
            </div>
            </a>
        </div>
    </div> 
<br><br>