<h4><a href="#!index">Gesava2</a> <i class="fa fa-caret-right"></i> Directors</h4>

<div class="iaqse-contents">
    <h5>Índex de continguts</h5>
    <ol>
        <li><a href ng-click="navigate($event,'section1')">Accés a l'aplicació</a></li>
        <li><a href ng-click="navigate($event,'section2')">Actualitzar les dades del centre</a></li> 
        <li><a href ng-click="navigate($event,'section3')">Realitzar el qüestionari</a></li> 
        <li><a href ng-click="navigate($event,'section4')">Canviar la visibilitat dels resultats</a></li>
    </ol>

    <img src="../img/general/pdf_icon.jpg" style="width:20px; vertical-align:middle"/>
    <a href="../documents/gesava2/tutorial-gesava2.pdf" target="_blank">Tutorial complet de l'avaluació diagnòstica de 2n d'ESO en format PDF</a>

</div>

<h4 id="section1" class="iaqse-section">1. Accés a l'aplicació</h4>

<p>Per accedir a l'aplicació seguiu les següents passes:</p>

<ul>
    <li>
        <p>Cliqueu sobre la imatge "Accés Gesava2" <img src="../img/gesava.png" style="width:30px;vertical-align: middle;"/>
             de la part superior dreta d'aquesta pantalla.</p>
    </li>

    <li><p>
        Us apareixerà la pàgina d'accés a l'aplicació en la qual heu clicar sobre l'enllaç 
        "Accés per als directors". Si encara no estau validats com usuari CAIB, us apareixerà una nova
        pantalla on heu d'introduir el vostre usuari i contrasenya CAIB (per exemple x78215134). Aneu en compte d'escriure exactament els camps, respectant majúscules 
        minúscules i sense deixar espais en blanc.
    </p>
        <div class="row-fluid img-center">
            <img src="../img/gesava2/login-dir.png" class="img-fluid"/>
        </div>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/seycon.png" class="img-fluid"/>
        </div>
    </li>

    <li><p>En primer lloc, haureu de triar l'avaluació que voleu gestionar del menú desplegable.
        Les avaluacions amb fons vermell no estan actives i només podreu realitzar accions de consulta.
        Per triar i accedir a l'avaluació pitjau sobre el botó "Establir i continuar"
    </p>
            <div class="row-fluid img-center">
                    <img src="../img/gesava2/front-dir-tria.png" class="img-fluid"/>
            </div>
    </li>

 
</ul>


<h4 id="section2" class="iaqse-section">2. Actualitzar les dades del centre</h4>

<p>Seguint les passes de l'apartat anterior hauríeu d'estar en la pàgina de gestió de l'avaluació. 
Les diferents funcionalitats les trobareu organitzades un menú de pestanyes.</p>

<p>La primera pestanya us permetrà actualitzar les dades del centre. Sobretot és important que comproveu
    que el correu que figura sigui actiu i revisat amb freqüència pel personal del centre. En cas contrari, el podeu editar o afegir-ne
    d'altres.
</p>

<div class="row-fluid img-center">
        <img src="../img/gesava2/ava-dir-home.png" class="img-fluid"/>
</div>

<h4 id="section3" class="iaqse-section">3. Realitzar el qüestionari</h4>

<p>Per realitzar el qüestionari de director heu de:</p>

<ul>
 
    <li><p>Seguir les instruccions de l'apartat 1. i accedir a la pantalla de gestió
        de l'avaluació en curs.</p></li>
        
    <li><p>En el menú de pestanyes seleccionar "Qüestionaris" i, tot seguit,
        clicar sobre el botó "Fer qüestionari"</p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/dir-acces-questionari.png" class="img-fluid"/>
        </div>
    </li>



    <li><p>A la següent pantalla s'obrirà la primera pregunta del qüestionari. A la part superior
        trobareu les instruccions que podreu amagar/desplegar mitjançant el botó 
         <img src="../img/gesava2/minus.png" style="width:18px;vertical-align: middle;"/> / 
         <img src="../img/gesava2/plus.png" style="width:18px;vertical-align: middle;"/>
    </p>

        <div class="row-fluid img-center">
                <img src="../img/gesava2/qdir-p1.png" class="img-fluid"/>
        </div>
    </li>
 
  
    <li><p>Fixeu-vos que hi ha preguntes que contenen diferents apartats. En tal cas, heu de contestar cadascun
        d'ells. </p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/qdir-p2.png" class="img-fluid"/>
        </div> 
    </li>
 
    <li><p>Quan hagueu contestat la darrera pregunta és important que pitgeu "<b>Desar i Finalitzar</b>". 
        Si pitjau el
        botó "Sortir" sense haver desat abans es perdran les respostes de la darrera pregunta.</p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/qdir-p3.png" class="img-fluid"/>
        </div> 
    </li>

    <li>
        <p>Us apareixerà un diàleg de confirmació. Cliqueu sobre el botó "Finalitza" i tot seguit tornareu
            a la pàgina inicial on podreu llegir el missatge "Qüestionari Finalitzat. Moltes gràcies".
        </p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/confirma.png" class="img-fluid"/>
        </div> 

        <div class="row-fluid img-center">
                <img src="../img/gesava2/qdir-done.png" class="img-fluid"/>
        </div> 
    </li>

    <li>Si no heu de realitzar cap acció més, recordeu a pitjar sobre el botó <img src="../img/gesava2/desconnectar-btn.png" 
        style="height:24px;vertical-align: middle;"/>.</li>
</ul>

 

<h4 id="section4" class="iaqse-section">4. Canviar la visibilitat dels resultats</h4>

<p>Per defecte, l'aplicació no permet veure els resultats als alumnes ni famílies. 
   Si es vol canviar aquest comportament, cal que el director modifiqui els permisos d'accés.</p>

 <p>Seleccioneu la pestanya "visibilitats". Del menú desplegable podeu triar quin col·lectius voleu que
     puguin tenir accés a la puntuació de les proves diagnòstiques.
 </p>

        <div class="row-fluid img-center">
                <img src="../img/gesava2/visibilitats-dir.png" class="img-fluid"/>
        </div> 


<script>
    app.controller("directorsController", ["$scope", "$rootScope", "$filter", "httpService",
        function ($scope, $rootScope, $filter, httpService) {
        
        $scope.navigate = function(evt, id) {
            evt.preventDefault();
            var elem = document.getElementById(id);
            if(elem) {
                var pos = elem.offsetTop + 100;
                window.scrollTo(0, pos);
            }
        };
 


        <% if (config.remoteURL) { %>
                httpService.hit(location.href, "VIEW");
        <% } %>
      
    }]);
</script>