<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i></a></li>
<li class="breadcrumb-item"><a href="#">Ajuda Gesava2</a></li>
<li class="breadcrumb-item active">Directors</li>
</ol>
</nav><button class="btn btn-sm btn-secondary" style="float:right" ng-click="printDiv()">
        <i class="fa fa-print"></i> Imprimir</button>
    
<div id="print-area">
<h4 class="d-print-none"><a href="#!index">Gesava2</a> <i class="fa fa-caret-right"></i> Directors</h4>
<h3 class="d-none d-print-block"> <b>Gesava2 - Directors</b></h3>

<div class="iaqse-contents">
    <h5>Índex de continguts</h5>
    <ol>
        <li><a href ng-click="navigate($event,'section1')">Accés a l'aplicació</a></li>
        <li><a href ng-click="navigate($event,'section2')">Actualitzar les dades del centre</a></li> 
        <li><a href ng-click="navigate($event,'section3')">Apartat de comunicacions</a></li> 
        <li><a href ng-click="navigate($event,'section4')">Realitzar el qüestionari de director</a></li> 
        <li><a href ng-click="navigate($event,'section5')">Apartat d'accions</a></li>
        <p>
            <a href ng-click="navigate($event,'section51')">5.1 Crear usuaris de professor de centre</a><br>
            <a href ng-click="navigate($event,'section52')">5.2 Gestionar alumnes NESE</a><br>
            <a href ng-click="navigate($event,'section53')">5.3 Usuari aplicador de centre</a>
        </p>
        <li><a href ng-click="navigate($event,'section6')">Descarregar instruments d'avaluació</a></li>
        <li><a href ng-click="navigate($event,'section7')">Canviar la visibilitat dels resultats</a></li>
        <li><a href ng-click="navigate($event,'section8')">Seguiment i resultats preliminars</a></li>
    </ol>

    <img src="../img/general/pdf_icon.jpg" style="width:20px;vertical-align:middle">
    <a href="../documentos/gesava2/tutorial-gesava2-ad2eso-2021.pdf" target="_blank">Tutorial complet de l'avaluació diagnòstica de 2n d'ESO 2020/21 en format PDF</a>

</div>

<h4 id="section1" class="iaqse-section">1. Accés a l'aplicació</h4>

<p>Per accedir a l'aplicació seguiu les següents passes:</p>

<ul>
    <li>
        <p>Cliqueu sobre la imatge <a href="https://apps.caib.es/gesavafront/" target="_blank">"Accés GESAVA" <img src="../img/gesava.png" style="width:30px;vertical-align:middle"></a>
            de la part superior dreta d'aquesta pantalla.</p>
    </li>

    <li><p>
        Us apareixerà la pàgina d'accés a l'aplicació en la qual heu clicar sobre l'enllaç 
        "Accés per als directors". Si encara no estau validats com usuari CAIB, us apareixerà una nova
        pantalla on heu d'introduir el vostre usuari i contrasenya CAIB (per exemple x78215134). Aneu en compte d'escriure exactament els camps, respectant majúscules 
        minúscules i sense deixar espais en blanc.
    </p>
        <div class="row-fluid img-center">
            <img src="../img/gesava2/login-dir.png" class="img-fluid">
        </div>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/seycon.png" class="img-fluid">
        </div>
    </li>

    <li><p>En primer lloc, haureu de triar l'avaluació que voleu gestionar del menú desplegable.
        Les avaluacions amb fons vermell no estan actives i només podreu realitzar accions de consulta.
        Per triar i accedir a l'avaluació pitjau sobre el botó "Establir i continuar"
    </p>
            <div class="row-fluid img-center">
                    <img src="../img/gesava2/front-dir-tria.png" class="img-fluid">
            </div>
    </li>

 
</ul>


<h4 id="section2" class="iaqse-section">2. Actualitzar les dades del centre</h4>

<p>Seguint les passes de l'apartat anterior hauríeu d'estar en la pàgina de gestió de l'avaluació. 
Les diferents funcionalitats les trobareu organitzades un menú de pestanyes.</p>

<p>La primera pestanya us permetrà actualitzar les dades del centre. Sobretot és important que comproveu
    que el correu que figura sigui actiu i revisat amb freqüència pel personal del centre. En cas contrari, el podeu editar o afegir-ne
    d'altres.
</p>

<div class="row-fluid img-center">
        <img src="../img/gesava2/ava-dir-home.png" class="img-fluid">
</div>


<h4 id="section3" class="iaqse-section">3. Apartat de comunicacions</h4>

<p>
A partir del mateix dia de la prova, amb l'usuari de director, es podran descarregar 
les guies de correcció de les preguntes obertes de cada competència clicant sobre la pestanya 
"Comunicacions". 
</p>


<div class="row-fluid img-center">
        <img src="../img/gesava2/dir-comunicacions.png" class="img-fluid">
</div>



<h4 id="section4" class="iaqse-section">4. Realitzar el qüestionari de director</h4>

<p>Per realitzar el qüestionari de director heu de:</p>

<ul>
 
    <li><p>Seguir les instruccions de l'apartat 1. i accedir a la pantalla de gestió
        de l'avaluació en curs.</p></li>
        
    <li><p>En el menú de pestanyes seleccionar "Qüestionaris" i, tot seguit,
        clicar sobre el botó "Fer qüestionari"</p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/dir-acces-questionari.png" class="img-fluid">
        </div>
    </li>



    <li><p>A la següent pantalla s'obrirà la primera pregunta del qüestionari. A la part superior
        trobareu les instruccions que podreu amagar/desplegar mitjançant el botó 
         <img src="../img/gesava2/minus.png" style="width:18px;vertical-align:middle"> / 
         <img src="../img/gesava2/plus.png" style="width:18px;vertical-align:middle">
    </p>

        <div class="row-fluid img-center">
                <img src="../img/gesava2/qdir-p1.png" class="img-fluid">
        </div>
    </li>
 
  
    <li><p>Fixeu-vos que hi ha preguntes que contenen diferents apartats. En tal cas, heu de contestar cadascun
        d'ells. </p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/qdir-p2.png" class="img-fluid">
        </div> 
    </li>
 
    <li><p>Quan hagueu contestat la darrera pregunta és important que pitgeu "<b>Desar i Finalitzar</b>". 
        Si pitjau el
        botó "Sortir" sense haver desat abans es perdran les respostes de la darrera pregunta.</p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/qdir-p3.png" class="img-fluid">
        </div> 
    </li>

    <li>
        <p>Us apareixerà un diàleg de confirmació. Cliqueu sobre el botó "Finalitza" i tot seguit tornareu
            a la pàgina inicial on podreu llegir el missatge "Qüestionari Finalitzat. Moltes gràcies".
        </p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/confirma.png" class="img-fluid">
        </div> 

        <div class="row-fluid img-center">
                <img src="../img/gesava2/qdir-done.png" class="img-fluid">
        </div> 
    </li>

    <li>Si no heu de realitzar cap acció més, recordeu a pitjar sobre el botó <img src="../img/gesava2/desconnectar-btn.png" style="height:24px;vertical-align:middle">.</li>
</ul>




<h4 id="section5" class="iaqse-section">5. Apartat d'accions</h4>
 
<h4 id="section51" class="iaqse-subsection">5.1 Crear usuaris de professor de centre</h4>

<p>
Per donar d'alta tot el professorat  que ha de contestar el qüestionari i generar els seus 
codis d'usuari (PROF-...) clicau sobre la pestanya "Accions" i tot seguit sobre el botó "Crear Professors".
</p>

<div class="row-fluid img-center">
        <img src="../img/gesava2/dir-menu-creaprof.png" class="img-fluid">
</div> 

<p>
En primer lloc, el director ha de seleccionar del menú desplegable el nombre de professors necessaris
del centre (EP, ESO i batxillerat) i després clicar sobre el botó "Crear Professors".
</p>

<div class="row-fluid img-center">
        <img src="../img/gesava2/dir-tria-nprofs.png" class="img-fluid">
</div> 

<p>
Apareixerà el llistat del professorat donat d'alta.
 Podreu imprimir el llistat per donar un usuari i la clau corresponent a cada professor 
 participant si feis servir el botó "Llistat continu PDF".
</p>

<div class="row-fluid img-center">
        <img src="../img/gesava2/dir-prof-export.png" class="img-fluid">
</div> 

<p>
En cas necessari, hi ha l'opció d'afegir més professors,
 tornant a triar el nombre de professors a  afegir del desplegable i pitjant el botó "Crear Professors".
</p>

<p>Més endavant, també podreu fer el seguiment de quins qüestionaris s'han contestat 
    (S) i quins no (N) consultant la columna de seguiment QPROF*. 
</p>

<div class="bg-warning md-center">
<p><b>Observació:</b></p>   
<p>Si heu donat d'alta professorat de més, us haureu de posar en contacte 
    amb l'<a href="mailto:iaqse@iaqse.caib.es">IAQSE</a> perquè els donem de baixa de l'aplicació.</p>
</div>

<h4 id="section52" class="iaqse-subsection">5.2 Gestionar alumnes NESE</h4>

<p>Heu d'entrar al GESAVA2 amb la sessió de director, triar l'avaluació i clicar sobre la pestanya "Accions"
i, finalment, pitjar el botó "Gestió alumnes computen".  
</p>

<div class="row-fluid img-center">
        <img src="../img/gesava2/dir-pestanya-nese.png" class="img-fluid">
</div> 
 

<p> 
Si teniu alumnes amb NESE, sortirà un llistat amb aquest alumnat per grups, amb el qual podreu fer el
 següent:
</p>
<ol>
<li> Comprovar que el llistat d'alumnes és correcte. Si detectau qualsevol incidència, 
    ho heu de comunicar a
     l'IAQSE per tal de resoldre-la. Aquesta llista s'obté directament del GESTIB, per tant,
      si un alumne no figura
    correctament allà tampoc ho farà al GESAVA2.</li>

<li> Per a cada alumne, desmarcau les caselles de les matèries en què NO ha de computar.</li>
<li> Si voleu desar i continuar més endavant cliclau el botó "Desa".</li> 
</ol>

<div class="row-fluid img-center">
        <img src="../img/gesava2/dir-nese.png" class="img-fluid">
</div> 



<h4 id="section53" class="iaqse-subsection">5.3 Usuari aplicador de centre</h4>

<p>Recordam que l'usuari aplicador de centre (codi APLI-...) el pot obtenir el director des de 
    la seva sessió anant a la pestanya "Accions" i clicant sobre l'apartat desplegable 
    "Dades de l'aplicador de centre"</p>

<div class="row-fluid img-center">
        <img src="../img/gesava2/dir-credencials-apli.png" class="img-fluid">
</div> 


<h4 id="section6" class="iaqse-section">6. Descarregar instruments d'avaluació</h4>

<p>Els fulls d'incidències i els fulls de resposta s'obtenen des de la sessió 
    de l'aplicador del centre. Vegeu l'apartat 
    <a href="#!apli">GESAVA2 - Aplicador</a> per a més informació.
</p>

<p>
Dos dies abans de cada prova, el director accedirà, amb el seu usuari CAIB,
a l'aplicació GESAVA2 per descarregar:</p>
<ul>
<li>els distints models de prova en format HTML per poder copiar-los als ordinadors 
    dels alumnes o a una carpeta compartida, </li>
<li>l'àudio en format MP3, que s'ha de reproduir en realitzar les proves 
    de competència en comunicació lingüística. </li>
</ul>

<p>
Una vegada el director ha triat l'avaluació, pitjarà sobre "Proves" 
del menú de pestanyes principal. Si estan disponibles, 
li apareixeran els enllaços per poder descarregar-se en fitxer zip de cada competència. 
Si algun fitxer encara no està preparat per ésser descarregat apareixerà el missatge
"Fitxer no disponible".
</p>

<div class="row-fluid img-center">
        <img src="../img/gesava2/dir-download-proves.png" class="img-fluid">
</div> 

<div class="bg-warning md-center">
<p>
En cas de no disposar d'ordinadors o tauletes suficients, 
amb sol·licitud prèvia a l'IAQSE, es podrà realitzar la prova en paper imprimint els
models de prova en format PDF. En aquest cas, s'haurà d'anotar prèviament el nom de 
l'alumne en el model de prova que li correspongui -apareix al llistat d'alumnes i seguiment-
i no serà necessari utilitzar full de respostes perquè l'alumne contestarà les preguntes
directament en el model de prova imprès.
</p>
</div>



<h4 id="section7" class="iaqse-section">7. Canviar la visibilitat dels resultats</h4>

<p>Per defecte, l'aplicació no permet veure els resultats als alumnes ni famílies. 
   Si es vol canviar aquest comportament, cal que el director modifiqui els permisos d'accés.</p>

 <p>Seleccioneu la pestanya "visibilitats". Del menú desplegable podeu triar quin col·lectius voleu que
     puguin tenir accés a la puntuació de les proves diagnòstiques.
 </p>

        <div class="row-fluid img-center">
                <img src="../img/gesava2/visibilitats-dir.png" class="img-fluid">
        </div> 



<h4 id="section8" class="iaqse-section">8. Seguiment i resultats preliminars</h4>

<p>
El director tindrà accés als resultats de l'avaluació de diagnòstic del seu centre. 
Aquesta és una informació dinàmica que es va calculant a mesura que s'introdueixen dades al GESAVA2. 
També cal tenir present que són dades provisionals, és a dir, sense aplicar-hi un processat estadístic 
complet. Amb aquest sentit, caldrà esperar que els tècnics de l'IAQSE posin a la disposició dels centres
els informes de resultats definitius.
</p>

<p>Per accedir als resultats preliminars cal clicar sobre la pestanya "Resultats"</p>

<p>Es mostren dues taules, una per a matèries avaluables i l'altra per a qüestionaris 
(més avall en la pàgina).  Els grups que no estan TANCATS apareixen en fons vermell i, per tant
 els seus resultats són susceptibles d'anar canviant a mesura que s'introdueixin noves dades.
Per a cada matèria i grup, es mostra el % de participació (com nombre d'exàmens realitzats),
 el total d'alumnes del grup, la mitjana de puntuació del grup i la seva desviació típica. 
La fila de totals, acumula els resultats de cada matèria.
</p>


<div class="row-fluid img-center">
        <img src="../img/gesava2/preliminars1.png" class="img-fluid">
</div> 

<p>
En la taula de resultats de qüestionaris, únicament es mostra el percentatge de participació 
(Completats) sobre el total.
</p>


<div class="row-fluid img-center">
        <img src="../img/gesava2/preliminars2.png" class="img-fluid">
</div> 

<p>
Recordam que en la sessió de director, es pot fer un seguiment més exhaustiu dels 
Qüestionaris de Professor, anant a la pestanya Accions, i clicar sobre el botó Crear Professors. 
D'aquesta forma es pot saber si un usuari PROF-··· en concret ha completat o no el qüestionari.
A les seves respostes, naturalment, no s'hi podrà accedir.
</p>

</div>
<script>app.controller("directorsController",["$scope","$rootScope","$filter","httpService",function(t,e,o,r){t.navigate=function(t,e){t.preventDefault();var o=document.getElementById(e);if(o){var r=o.offsetTop+100;window.scrollTo(0,r)}},t.printDiv=function(){printDocument("print-area","Directors")}}])</script>