<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i></a></li>
<li class="breadcrumb-item"><a href="#">Ajuda Gesava2</a></li>
<li class="breadcrumb-item active">Alumnat</li>
</ol>
</nav><button class="btn btn-sm btn-secondary" style="float:right" ng-click="printDiv()">
        <i class="fa fa-print"></i> Imprimir</button>
    
<div id="print-area">
        <h4 class="d-print-none"><a href="#!index">Gesava2</a> <i class="fa fa-caret-right"></i> Alumnat</h4>
        <h3 class="d-none d-print-block"> <b>Gesava2 - Alumnat</b></h3>
<div class="iaqse-contents">
    <h5>Índex de continguts</h5>
    <ol>
        <li><a href ng-click="navigate($event,'section1')">Accés a l'aplicació</a></li>
        <li><a href ng-click="navigate($event,'section2')">Realitzar el qüestionari</a></li>
        <li><a href ng-click="navigate($event,'section3')">Visualitzar els resultats</a></li>
        
    </ol>
</div>

<h4 id="section1" class="iaqse-section">1. Accés a l'aplicació</h4>

<p>Per accedir a l'aplicació seguiu les següents passes:</p>

<ul>
    <li>
        <p>Cliqueu sobre la imatge <a href="https://apps.caib.es/gesavafront/" target="_blank">"Accés GESAVA" <img src="../img/gesava.png" style="width:30px;vertical-align:middle"></a>
            de la part superior dreta d'aquesta pantalla.</p>
    </li>

    <li><p>
        Us apareixerà la pàgina d'accés a l'aplicació en la qual heu d'introduir l'usuari i contrasenya que us
        ha proporcionat el vostre centre. Per exemple, si cursau 2n d'ESO, el vostre usuari comença amb les lletres 2ESO-. Aneu en compte d'escriure exactament els camps, respectant majúscules 
        minúscules i sense deixar espais en blanc.
    </p>
        <div class="row-fluid img-center">
            <img src="../img/gesava2/alumne-login.png" class="img-fluid">
        </div>
    </li>

    <li><p>Molt Important! Recordeu a tancar la sessió pitjant sobre el botó "Desconnecta" quan hagueu acabat.</p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/desconnectar.png" class="img-fluid">
        </div>
    </li>
</ul>

<h4 id="section2" class="iaqse-section">2. Realitzar el qüestionari</h4>

<p>Per realitzar el qüestionari d'alumne heu de:</p>

<ul>

    <li>
        <p>Triar l'idioma en què voleu fer el qüestionari (català / castellà) del menú desplegable.</p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/questionari-alu.png" class="img-fluid">
        </div>
    </li>

    <li><p>Clicar sobre el botó "Fer qüestionari"</p></li>

    <li><p>A la següent pantalla s'obrirà la primera pregunta del qüestionari. A la part superior
        trobareu les instruccions que podreu amagar/desplegar mitjançant el botó 
         <img src="../img/gesava2/minus.png" style="width:18px;vertical-align:middle"> / 
         <img src="../img/gesava2/plus.png" style="width:18px;vertical-align:middle">
    </p>

        <div class="row-fluid img-center">
                <img src="../img/gesava2/qalu-p1.png" class="img-fluid">
        </div>
    </li>

    <li>Responeu a la pregunta i pitjeu el botó 
            <img src="../img/gesava2/next.png" style="width:22px;vertical-align:middle"> 
            per passar a la pregunta següent.</li>

    <li><p>Fixeu-vos que hi ha preguntes que contenen diferents apartats. En tal cas, heu de contestar cadascun
        d'ells.</p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/qalu-subp.png" class="img-fluid">
        </div> 
    </li>

    <li><p>Quan hagueu contestat la darrera pregunta és important que pitgeu "<b>Desar i Finalitzar</b>"</p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/qalu-p17.png" class="img-fluid">
        </div> 
    </li>

    <li>
        <p>Us apareixerà un diàleg de confirmació. Cliqueu sobre el botó "Finalitza" i tot seguit tornareu
            a la pàgina inicial on podreu llegir el missatge "Qüestionari Finalitzat. Moltes gràcies".
        </p>
        <div class="row-fluid img-center">
                <img src="../img/gesava2/confirma.png" class="img-fluid">
        </div> 

        <div class="row-fluid img-center">
                <img src="../img/gesava2/qalu-fin.png" class="img-fluid">
        </div> 
    </li>

    <li>Si ja heu acabat, recordeu a pitjar sobre el botó <img src="../img/gesava2/desconnectar-btn.png" style="height:24px;vertical-align:middle"></li>
</ul>


<h4 id="section3" class="iaqse-section">3. Visualitzar els resultats</h4>

Si el vostre centre ha autoritzat la visualització dels resultats per alumnes, podreu veure a la part
inferior de la pantalla d'inici els resultats de les proves que vàreu realitzar. 
Les puntuacions de totes les proves són sobre 100. Si en una matèria apareix "Pendent d'inici" vol dir
que encara no s'ha corregit l'examen. En canvi, si apareix el missatge "Bloquejat" significa que 
no vàreu realitzar la prova d'aquella matèria.

<div class="row-fluid img-center">
        <img src="../img/gesava2/resultats-alu.png" class="img-fluid">
</div> 


</div>



<script>app.controller("alumnatController",["$scope","$rootScope","$filter","httpService",function(t,n,e,o){t.navigate=function(t,n){t.preventDefault();var e,o=document.getElementById(n);o&&(e=o.offsetTop+100,window.scrollTo(0,e))},t.printDiv=function(){printDocument("print-area","Alumnat")}}])</script>